<% title = __('view.admin.dashboard.pagetitle') + " — " + __('global.pagetitle');  %>

<div class="gc page header"><%- __('view.admin.dashboard.pagetitle') %></div>
<div class="container">
	<div class="ui relaxed list">
		<div class="item">
			<i class="icon big user" style="margin: 10px 10px 0px 0px;"></i>
			<div class="content">
				<h2><%- __('view.admin.dashboard.list.users') %></h2>
				<div class="ui relaxed list">
					<div class="item">
						<i class="settings big icon" style="margin:0em 0.5em 0em 0em"></i>
						<a class="gc-nostylelink content"  href="/admin/users/roles">
							<span class="header"><%- __('view.admin.dashboard.list.users.roles.title') %></span>
							<span class="description" style="display:block"><%- __('view.admin.dashboard.list.users.roles.description') %></span>
						</a>
					</div>
					<div class="item">
						<i class="legal big icon" style="margin:0em 0.5em 0em 0em"></i>
						<a class="gc-nostylelink content"  href="/admin/users/bans">
							<span class="header"><%- __('view.admin.dashboard.list.users.bans.title') %></span>
							<span class="description" style="display:block"><%- __('view.admin.dashboard.list.users.bans.description') %></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

