<div id="gc-usefullinks">
	<nav>
		<h1><%= __('GreenCubes') %></h1>
		<div><a href="https://forum.greencubes.org"><%= __('Форум') %></a></div>
		<div><a href="https://forum.greencubes.org/viewforum.php?f=255"><%= __('Блог разработки') %></a></div>
		<div><a href="https://wiki.greencubes.org"><%= __('Wiki (энциклопедия проекта)') %></a></div>
		<div><a href="https://greencubes.org/?action=ucp&amp;do=org"><%= __('Организации') %></a></div>
		<div><a href="https://greencubes.org/news/karta_mira#t"><%= __('Карта мира') %></a></div>
		<div><a href="https://greencubes.org/cat/shop"><%= __('Магазин') %></a></div>
		<div><a href="https://wiki.greencubes.org/API"><%= __('API') %></a></div>
	</nav>
	<nav>
		<h1><%= __('Аккаунт') %></h1>
		<div><a href="https://greencubes.org/?action=ucp&amp;do=reg"><%= __('Учётная запись') %></a></div>
		<div><a href="https://greencubes.org/?action=ucp&amp;do=skin"><%= __('Настройка персонажа') %></a></div>
		<div><a href="https://greencubes.org/?action=ucp&amp;do=homes"><%= __('Дополнительные дома') %></a></div>
		<div><a href="https://greencubes.org/?action=pay"><%= __('Пополнение баланса') %></a></div>
		<div><a href="https://greencubes.org/?action=ucp&amp;do=premium"><%= __('Премиум-аккаунт') %></a></div>
		<div><a href="https://greencubes.org/?action=ucp&amp;do=nickname"><%= __('Настройка никнейма') %></a></div>
	</nav>
	<nav>
		<h1><%= __('Помощь') %></h1>
		<div><a href="https://greencubes.org/news/stub"><%= __('О проекте') %></a></div>
		<div><a href="https://greencubes.org/cat/rules"><%= __('Правила проекта') %></a></div>
		<div><a href="https://greencubes.org/news/obraszenie_k_novichkam#t"><%= __('Информация для новичков') %></a></div>
		<div><a href="https://greencubes.org/news/faq2#t" title="<%= __('Частозадаваемые вопросы') %>"><%= __('FAQ') %></a></div>
		<div><a href="https://greencubes.org/news/stub"><%= __('Загрузка игрового клиента') %></a></div>
		<div><a href="https://greencubes.org/news/stub"><%= __('Основные игровые команды') %></a></div>
	</nav>
	<nav>
		<h1><%= __('Техническая поддержка') %></h1>
		<div><a href="https://help.greencubes.org"><%= __('Система поддержки') %></a></div>
		<div><a href="https://forum.greencubes.org/viewtopic.php?f=255&amp;t=25624"><%= __('Технические требования') %></a></div>
		<div><a href="https://greencubes.org/news/stub"><%= __('Защита учётной записи') %></a></div>
		<div><a href="http://status.greencubes.org"><%= __('Состояние сервисов') %></a></div>
	</nav>
</div>
<div id="gc-footer">
	<div class="ui page grid">
		<div class="column">
			<div class="ui right large floated secondary menu">
				<div class="item">
					<a href="http://kern0.ru">Kern0</a> &#64; <a href="https://greencubes.org">GreenCubes</a> &copy;
				</div>
			</div>
		</div>
	</div>
</div>