<div id="gc-header">
	<div class="ui page grid">
		<div class="column">
			<a class="gc logo" href="/">
				<img class="ui image" src="/images/logo.png">
			</a>
			<a href="https://forum.greencubes.org/viewtopic.php?f=255&t=26543" id="previewlink" title="&laquo;Баг? Так это превью версия, так задумано&raquo;".>preview</a>
			<div class="ui right large floated secondary menu">
				<% if (req.user) { %>
				<a class="item" href="#">
					<i class="add icon"></i>
				</a>
				<a class="item" href="#">
					<i class="bell icon"></i>
				</a>
				<div class="item">
					<div class="ui top right pointing basic dropdown link">
						<span class="header"><%= req.user.username %></span>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item"><a href="/user"><i class="user icon"></i> Ваш профиль</a></div>
							<div class="item"><a href="/settings"><i class="settings icon"></i> Настройки</a></div>
						</div>
					</div>
				</div>
				<a class="item" href="/logout">
					<i class="log out icon"></i>
				</a>
				<% } else { %>
				<a class="item" href="/login">
					 <%= __('Войти') %> <i class="user icon"></i>
				</a>
				<% } %>
			</div>
			<div class="ui large secondary menu">
				<div class="ui top left pointing dropdown link item">
					<span class="header"><%= __('Меню') %></span>
					<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item"><a href="/tickets"><i class="tasks icon"></i> <%= __('Список тикетов') %></a></div>
						<div class="item"><a href="/user"><i class="user icon"></i> <%= __('Ваш профиль') %></a></div>
						<% if (req.user && req.user.group >= ugroup.moderator) { %>
						<div class="ui divider"></div>
						<% if (req.user.group >= ugroup.staff) { %>
						<div class="item"><a href="/admin"><i class="dashboard icon"></i> <%= __('Панель администратора') %></a></div>
						<% } %>
						<div class="item"><a href="/gameinfo"><i class="terminal icon"></i> <%= __('Панель игровой информации') %></a></div>
						<% } %>
					</div>
				</div>
				<form id="gc-header-search">
					<div class="gc search">
						<input class="prompt" placeholder="<%= __('Поиск по всей системе...') %>" type="text">
						<a id="gc-header-search-submit" href="#">
							<i class="search icon"></i>
						</a>
						<div class="results"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
