<div class="ui simple dropdown item" title="<%= __('Общее меню') %>">
	<i class="reorder icon"></i>
	<div class="menu">
		<a href="/tickets" class="item<% if (req.path == '/tickets') { %> active<% } %>"><i class="tasks icon"></i><%= __('view.partials.mainpanel.list') %></a>
		<a href="/user" class="item<% if (req.path == '/user') { %> active<% } %>"><i class="user icon"></i><%= __('view.partials.mainpanel.profile') %></a>
		<% if (req.user && req.user.group === ugroup.staff) { %>
			<a href="/admin" class="item<% if (req.path == '/admin') { %> active<% } %>"><i class="dashboard icon"></i><%- __('view.partials.mainpanel.adminpanel') %></a>
		<% } %>
		<% if (req.user && req.user.group >= ugroup.mod) { %>
			<a href="/gameinfo" class="item<% if (req.path == '/gameinfo') { %> active<% } %>"><i class="terminal icon"></i><%- __('view.partials.mainpanel.gameinfopanel') %></a>
		<% } %>
	</div>
</div>
