<% if (req.user) { %>
	<a href="/new" class="item" title="<%- __('view.partials.userpanel.newticket') %>"><i class="add icon"></i></a>
	<span href="#" class="item" title="<%- __('view.partials.userpanel.notifications') %>" id="gc-notifheaderbutton" style="cursor:pointer;"><i class="bell icon"></i><span id="gc-notifnumber"></span></span>
	<div class="ui simple top right pointing dropdown item" style="float: none;">
		<% if (req.user.prefix) { %><%= req.user.prefix %><% } %>&nbsp;<%= req.user.username %> <i class="icon dropdown"></i>
		<div class="menu">
			<a href="/user" class="item"><i class="user icon"></i><%- __('view.partials.userpanel.profile') %></a>
			<a href="/settings" class="item"><i class="setting icon"></i><%- __('view.partials.userpanel.account') %></a>
		<% if (req.user.group === ugroup.staff) { %>
			<a href="/admin" class="item"><i class="dashboard icon"></i><%- __('view.partials.userpanel.adminpanel') %></a>
		<% } %>
		</div>
	</div>
	
	<span class="item" id="gc-logoutbutton" style="cursor:pointer;" title="<%- __('view.partials.userpanel.logout') %>">
		<i class="sign out icon"></i>
	</span>
<% } else {%>
	<a href="/login" class="item">
		<%- __('view.partials.userpanel.login') %> <i class="user icon"></i>
	</a>
<% } %>
