<div class="gc ticketview ui two column grid">
	<div class="column" style="width: 70%">
		<header class="gc page nomargin header">#<%= ticket.id %>: &laquo;<%= ticket.title %>&raquo;<a class="editbutton" href="#"><i class="pencil small icon"></i></a></header>
		<header class="gc sub page nomargin inactive header"><a class="item" href="#" style="padding: 0"><i class="bug icon"></i></a>  <a class="item" href="#"><%= ticket.owner.username %></a>  <a class="item" href="#"><%= ticket.createdAt.pretty %></a><a class="item" href="#"><%= ticket.additional.product.name %></a>
		</header>
	</div>
	<div class="right floated column" style="width: 30%"><header class="gc status nomargin <%= ticket.status.name %> header"><%= __('Новый') %></header></div>
</div>

<div class="gc ticketview main">
	<h1>Описание</h1>
	<p class="text"><%- ticket.additional.description %></p>

	<h1>Прикрепления</h1>
	<%- partial('../partials/attachment', {
		attachments: ticket.attachments
	}) %>
	<div class="ui huge comments">
		<h1>Комментарии</h1>
		<% if (ticket.comments.length) { %>
		<% ticket.comments.forEach(function (comment) { %>
		<div class="comment">
			<div class="content">
				<a class="author"><%= (comment.author.prefix) ? comment.author.prefix : '' %><%= comment.author.username %></a>
				<div class="metadata">
					<a class="date" href="#<%= comment.id %>"><%= comment.createdAt.pretty %></a>
				</div>
				<div class="text">
					<%- comment.message %>
					<% if (comment.status) { %>
					<div class="ui small divider"></div>
					Статус изменён на <a class="gc status <%= comment.status.name %> link" href="#"><%= __('Принят') %></a>
					<% } %>
				</div>
			</div>
		</div>
		<% }) %>
		<% } else { %>
		<div><h1>Комментариев нет</h1></div>
		<% } %>
		<form class="ui reply form">
			<div class="field">
				<textarea></textarea>
			</div>
			<div class="ui blue labeled submit icon button">
				<i class="icon edit"></i> Ответить
			</div>
		</form>
	</div>
</div>