<div class="ui green inverted gc-header menu">
	<a href="/all" class="item" title="<%- __('view.home.partials.header.ticketlist') %>"><i class="reorder icon"></i><%- __('view.home.partials.header.alltickets') %></a>
	<div class="right menu">
		<div class="ui simple dropdown item">
			<%- __( 'global.language.' + req.language) %> <i class="icon dropdown"></i>
			<div class="menu">
				<a href="/?lang=ru" class="item">Русский</a>
				<a href="/?lang=en" class="item">English</a>
			</div>
		</div>
		<a href="https://greencubes.org/?action=recover#t" class="item">
			<%- __('view.home.partials.header.forgotpassword') %>
		</a>
		<a href="//greencubes.org/?action=start" class="item">
			<%- __('view.home.partials.header.registration') %> <i class="user icon"></i>
		</a>
	</div>
</div>
