<h1 style="margin-bottom: 30px;" class="gc page header">Список тикетов</h1>
<div class="ui grid gc ticketlist">
	<div class="left column">
		<div class="ui gc ticketlist relaxed big list">
			<%- partial('../../partials/ticketList', {
				tickets: tickets
			}) %>
		</div>
		<div class="gc center" style="padding-top: 30px">
			<div class="ui pagination menu">
				<% if (currentPage != 1) { %>
				<a class="item" href="/tickets/1">&laquo;</a>
				<% } %>
				<% if (currentPage > 1) { %>
				<a class="active item" href="/tickets/<%= currentPage - 1 %>"><%= currentPage - 1 %></a>
				<% } %>
				<a class="item" href="/tickets/<%= currentPage %>"><%= currentPage %></a>
				<% if (currentPage <= lastPage && currentPage + 1 < lastPage) { %>
				<a class="item" href="/tickets/<%= currentPage + 1 %>"><%= currentPage + 1 %></a>
				<% } %>
				<% if (lastPage != currentPage) { %>
				<a class="item">...</a>
				<% } %>
				<% if (lastPage - 1 != currentPage + 1 && lastPage != currentPage) { %>
				<a class="active item" href="/tickets/<%= lastPage - 1 %>"><%= lastPage - 1 %></a>
				<% } %>
				<% if (lastPage != currentPage) { %>
				<a class="item" href="/tickets/<%= lastPage %>"><%= lastPage %></a>
				<% } %>
				<% if (lastPage + 1 < lastPage) { %>
				<a class="item" href="/tickets/<%= lastPage + 1 %>"><%= lastPage + 1 %></a>
				<% } %>
				<% if (lastPage != currentPage) { %>
				<a class="item" href="/tickets/<%= lastPage %>">&raquo;</a>
				<% } %>
			</div>
		</div>
	</div>
	<div class="right column">
		<%- partial('partials/filter') %>
	</div>
</div>
