<% title = __('view.create.main.pagetitle') + " — " + __('global.pagetitle');
backUrl = '/' %>
<%- partial('../partials/header')%>
<div class="container">
	<h1 class="ui header" style="margin: 0.2em 0px 1rem !important;"><%- __('view.create.main.title') %>
	<div class="sub header"><%- __('view.create.main.subtitle') %></div></h1>
	<div class="ui divider"></div>
	<div class="container">
		<div class="ui grid container">
			<div class="two column stackable ui grid row">
				<div class="column">
					<a href="/new/bugreport" class="gc-nostylelink" style="text-decoration:none !important">
						<div class="column gc-center">
							<i class="bug icon" style="font-size: 6em; display: block; margin: 0px auto;"></i>
							<span class="gc-new-header"><%- __('view.create.main.bugreport.title') %></span>
						</div>
						<div class="column">
							<div class="ui divider"></div>
							<span class="gc-new-descr"><%- __('view.create.main.bugreport.description') %></span>
						</div>
					</a>
				</div>


				<div class="column">
					<a href="/new/rempro" class="gc-nostylelink" style="text-decoration:none !important">
						<div class="column gc-center">
							<i class="trash icon" style="font-size: 6em; display: block; margin: 0px auto;"></i>
							<span class="gc-new-header"><%- __('view.create.main.rempro.title') %></span>
						</div>
						<div class="column">
							<div class="ui divider"></div>
							<span class="gc-new-descr"><%- __('view.create.main.rempro.description') %></span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
