<% title = __('view.create.rempro.pagetitle') + " — " + __('global.pagetitle'),
	backUrl = '/rempros' %>
<%- partial( '../partials/header') %>
<div class="container">
	<div class="ui two column grid">
		<div class="column" style="width:70%;border-right: 1px solid rgba(0, 0, 0, 0.1);">
			<form id="gc-reportform">
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				<div class="ui fluid form" id="gc-reportformdiv">
					<h1 class="header" style="margin: 0px; padding: 0.2em 0em 0em;"><%- __('view.create.rempro.pagetitle') %></h1>
					<div class="ui divider" style="margin: 1em 0em !important;"></div>
					<div class="two fields">
						<div class="field" style="width: 350px !important;margin-bottom: 0em;">
							<div class="field">
								<label><%- __('view.create.rempro.form.createdfor.title') %> <i class="help icon gc-helppopup" data-content="<%- __('view.create.rempro.form.createdfor.helphint') %>" data-variation="inverted"></i></label>
								<input name="createdfor" type="text" id="createdfor">
							</div>
						</div>
					</div>
					<div class="field">
						<label><%- __('view.create.rempro.form.title.title') %></label>
						<input name="title" type="text" id="title" placeholder="<%- __('view.create.rempro.form.title.placeholder', req.user.username) %>">
					</div>
					<div class="field">
						<label><%- __('view.create.rempro.form.reason') %></label>
						<textarea id="reason" name="reason"></textarea>
					</div>
					<div class="ui divider"></div>
					<div class="field">
						<label><%- __('view.create.rempro.form.regions.title') %></label>
						<textarea id="regions" name="regions" placeholder="<%- __('view.create.rempro.form.regions.placeholder') %>"></textarea>
					</div>
					<div class="field">
						<label><%- __('view.create.rempro.form.stuff.title') %></label>
						<textarea id="stuff" name="stuff" placeholder="<%- __('view.create.rempro.form.stuff.placeholder') %>"></textarea>
					</div>
					<div class="gc-help"><i class="help icon"></i><%- __('view.create.rempro.form.helphint') %></div>
					<div class="ui divider"></div>
					<div class="field">
						<label><%- __('view.create.form.upload.title') %></label>
						<input class="ui basic button" type="file" multiple name="upload" value="<%- __('view.create.form.upload.placeholder') %>"></input>
					</div>
					<div class="gc-help"><i class="attention icon"></i><%- __('view.create.form.upload.attention') %></div>
					<div class="ui divider"></div>
					<button class="ui blue submit button" type="submit"><%- __('view.create.form.send') %></button>
					<div id="errmessage"></div>
					<div class="ui dimmer" id="senddimmer">
						<div class="ui large text loader"><%- __('view.create.dimmertext') %></div>
					</div>
				</div>
			</form>
		</div>
		<div class="column" style="width:30%">
			<h2><%- __('view.create.rempro.panel.title') %></h2>
			<p><%- __('view.create.rempro.panel.description') %></p>
			<p><b><%- __('view.create.rempro.panel.guide.title') %></b><br>
			<span id="venusguidelink" href="https://forum.greencubes.org/viewtopic.php?f=195&t=26550" title="<%- __('view.create.rempro.panel.guide.link.placeholder') %>"><%- __('view.create.rempro.panel.guide.link.text', '</span>') %></p>
			<div class="gc-help"><%- __('view.create.panel.helptip') %></div>
			<h2><%- __('view.create.panel.nav.title') %></h2>
			<div class="ui selection list">
				<div class="active item">
					<i class="bug big icon" style="margin:0em 0.5em 0em 0em"></i>
					<a class="gc-nostylelink content" style="display:block" href="/new/bugreport">
						<span class="header" style="display:block"><%- __('view.create.panel.nav.bugreport.title') %></span>
						<span><%- __('view.create.panel.nav.bugreport.description') %></span>
					</a>
				</div>
				<div class="item">
					<i class="remove big icon" style="margin:0em 0.5em 0em 0em"></i>
					<a class="gc-nostylelink content" style="display:block" href="/new/rempro">
						<span class="header" style="display:block"><%- __('view.create.panel.nav.rempro.title') %></span>
						<span><%- __('view.create.panel.nav.rempro.description') %></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<%- partial('../partials/unsaved') %>
<%- partial('partials/errormodal') %>
