<% title = __('view.create.unban.pagetitle') + " — " + __('global.pagetitle'),
	backUrl = '/unbans' %>
<%- partial( '../partials/header') %>
<div class="container">
	<div class="ui two column grid">
		<div class="column" style="width:70%;border-right: 1px solid rgba(0, 0, 0, 0.1);">
			<form id="gc-reportform">
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				<div class="ui fluid form" id="gc-reportformdiv">
					<h1 class="header" style="margin: 0px; padding: 0.2em 0em 0em;"><%- __('view.create.unban.pagetitle') %></h1>
					<div class="ui divider" style="margin: 1em 0em !important;"></div>
					<div class="two fields">
						<div class="field" style="width: 350px !important;margin-bottom: 0em;">
							<div class="field">
								<label><%- __('view.create.unban.form.targetuser.title') %></label>
								<input name="targetuser" type="text" id="targetuser" value="<%- req.user.username %>">
							</div>
						</div>
					</div>
					<div class="field">
						<label><%- __('view.create.unban.form.title.title') %></label>
						<input name="title" type="text" id="title">
					</div>
					<div class="field">
						<label><%- __('view.create.unban.form.reason') %></label>
						<textarea id="reason" name="reason"></textarea>
					</div>
					<div class="ui divider"></div>
					<div class="field">
						<label><%- __('view.create.unban.form.logs') %></label>
						<textarea id="logs" style="min-height: 1em; height: 6em;" name="logs"></textarea>
					</div>
					<div class="ui divider"></div>
					<div class="field">
						<label><%- __('view.create.form.upload.title') %></label>
						<input class="ui basic button" type="file" multiple name="upload" value="<%- __('view.create.form.upload.placeholder') %>"></input>
					</div>
					<div class="gc-help"><i class="attention icon"></i><%- __('view.create.form.upload.attention') %></div>
					<div class="ui divider"></div>
					<button class="ui blue submit button" type="submit"><%- __('view.create.form.send') %></button>
					<div id="errmessage"></div>
					<div class="ui dimmer" id="senddimmer">
						<div class="ui large text loader"><%- __('view.create.dimmertext') %></div>
					</div>
				</div>
			</form>
		</div>
		<div class="column" style="width:30%">
			<h2><%- __('view.create.unban.panel.title') %></h2>
			<p><%- __('view.create.unban.panel.description') %></p>
			<div class="gc-help"><%- __('view.create.panel.helptip') %></div>
			<h2><%- __('view.create.panel.nav.title') %></h2>
			<div class="ui selection list">
				<div class="item">
					<i class="bug big icon" style="margin:0em 0.5em 0em 0em"></i>
					<a class="gc-nostylelink content" style="display:block" href="/new/bugreport">
						<span class="header" style="display:block"><%- __('view.create.panel.nav.bugreport.title') %></span>
						<span><%- __('view.create.panel.nav.bugreport.description') %></span>
					</a>
				</div>
				<div class="item">
					<i class="remove big icon" style="margin:0em 0.5em 0em 0em"></i>
					<a class="gc-nostylelink content" style="display:block" href="/new/rempro">
						<span class="header" style="display:block"><%- __('view.create.panel.nav.rempro.title') %></span>
						<span><%- __('view.create.panel.nav.rempro.description') %></span>
					</a>
				</div>
				<div class="item">
					<i class="ban circle big icon" style="margin:0em 0.5em 0em 0em"></i>
					<a class="gc-nostylelink content" style="display:block" href="/new/ban">
						<span class="header" style="display:block"><%- __('view.create.panel.nav.ban.title') %></span>
						<span><%- __('view.create.panel.nav.ban.description') %></span>
					</a>
				</div>
				<div class="active item">
					<i class="blank circle big icon" style="margin:0em 0.5em 0em 0em"></i>
					<a class="gc-nostylelink content" style="display:block" href="/new/unban">
						<span class="header" style="display:block"><%- __('view.create.panel.nav.unban.title') %></span>
						<span><%- __('view.create.panel.nav.unban.description') %></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<%- partial('../partials/unsaved') %>
<%- partial('partials/errormodal') %>
