<div class="ui green inverted gc-header menu">
	<div class="left menu">
		<% if (sails.historySpec) { %>
		<a href="<%= backUrl %>" class="item">
			<i class="reply mail icon"></i> <%- __('view.header.back') %>
		</a>
		<% } %>
		<%- partial('../../partials/mainpanel') %>
		<a href="<%= (req.user && req.user.startPage) ? req.user.startPage : '/all' %>" class="item" title="<%= (req.user && req.user.startPage) ? __('view.header.startpage') : __('view.header.alltickets') %>"><i class="home icon"></i></a>
	</div>
	<div class="right menu">
		<%- partial( '../../partials/userpanel')%>
	</div>
</div>
