<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title><%- __('view.user.login.pagetitle') + " — " + __('global.pagetitle') %></title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="icon" type="image/png" href="//greencubes.org/favicon.png" />
		<link rel="stylesheet" type="text/css" href="/css/libs.css" />
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
	</head>

	<body class="login">
		<div class="wrapper">
			<%- partial('../home/partials/header') %>
			<div class="gc-center">
				<a href="/">
					<img class="ui image gc-logo gc-center" src="/images/logo-preview.png">
				</a>
				<h1><%- __('view.user.login.title') %>
					<br>
					<span class="hidden-xs"><%- __('view.user.login.subtitle') %></span>
				</h1>
				<form id="loginform" method="post">
					<div class="ui form" style="display: inline-block !important">
						<div class="field">
							<div class="ui left labeled icon input">
								<input placeholder="<%- __('view.user.login.username') %>" type="text" name="username">
								<i class="user icon"></i>
							</div>
						</div>
						<div class="field">
							<div class="ui left labeled icon input">
								<input placeholder="<%- __('view.user.login.password') %>" type="password" name="password">
								<i class="lock icon"></i>
							</div>
						</div>
						<button type="submit" class="ui blue submit button"><%- __('view.user.login.enter') %></button>
					</div>
					<input type="hidden" name="_csrf" value="<%= _csrf %>" />
					<% if (redirectto) { %><input type="hidden" name="redirectto" value="<%= redirectto %>" /><% } %>
				</form>
				<div id="loginerr"><% if (typeof message !== 'undefined') { %>
						<div class="ui error message">
							<div class="header"><%= message %></div>
						</div><% } %>
				</div>
			</div>
		<div class="push"></div>
		</div>
		<%- partial('../partials/footer') %>
		<!-- SANIC HEGEHOG GOTTA GO FAST -->
		<script type="text/javascript" src="/js/libs.js"></script>
		<script>
			(function () {
				this.__ = new Polyglot({
					phrases: <%- sails.frontTmpl %>,
					locale: '<%= req.session.locale %>'
				});
			}.call(this));

			moment.lang('<%= req.session.locale %>');
		</script>
		<script type="text/javascript" src="/js/app.js"></script>
	</body>
</html>
