<% title = __('view.user.profile.pagetitle', user.login) + " — " + __('global.pagetitle') %>
<%- partial('partials/header')%>
<%- partial('partials/subheader', {
	header: __('view.user.profile.header', (((user.prefix) ? user.prefix : '') + ' ' +  user.login))
}) %>
<div class="container" style="position:relative">
	<div class="ui grid">
		<div class="column l-leftcolumn">
			<div class="ui basic fluid dropdown simple button">
				<%- __('view.user.newticket') %> <i class="add icon"></i>
				<div class="menu">
					<a href="/new/bugreport" class="item"><i class="bug icon"></i><%- __('global.type.bugreport') %></a>
					<a href="/new/rempro" class="item"><i class="trash icon"></i><%- __('global.type.rempro') %></a>
					<a href="/new/ban" class="item"><i class="ban circle icon"></i><%- __('global.type.ban') %></a>
					<a href="/new/unban" class="item"><i class="circle blank icon"></i><%- __('global.type.unban') %></a>
				</div>
			</div>
			<% if (req.user) if (req.user.startPage === req.url) { %>
			<div class="ui basic fluid button" style="margin: 1rem 0em;">
				<%- __('view.list.yourstartpage') %>
			</div>
			<% } else { %>
			<div class="ui basic fluid button" id="l-setstartpage" style="margin: 1rem 0em;">
				<%- __('view.list.setstartpage') %>
			</div>
			<% } %>
			<input type="hidden" name="_csrf" id="_csrf" value="<%= _csrf %>" />
			<%- partial('../list/partials/filter')%>
		</div>
		<div id="l-content" class="column l-rightcolumn" style="display: inline-block;">
			<div style="padding: 12em 0em;text-align: center;font-size:1.4em">
				<%- __('view.notickets.title') %>
			</div>
		</div>
	</div>
</div>
