<% title = 'Профиль пользователя ' + user.login + ' — GC.Поддержка'; console.log(user) %>
<%- partial('partials/header')%>
<div class="container" style="position:relative">
	<div class="ui grid">
		<div class="column l-leftcolumn">
			<div class="ui basic fluid button"><%= user.prefix %>&nbsp;<%= user.login %></div>
			<%- partial('partials/filter') %>
		</div>
		<div id="l-content" class="column l-rightcolumn" style="display: inline-block;margin-top: 2em;">
			<%- partial('../list/partials/list') %>
			<div class="gc-center" style="margin-top: 3em !important;">
				<div class="ui pagination menu">
					<a href="/users/<%= user.login %>/1<%= query %>" class="item <% if (currentPage === 1) { %>active<% } %>">
						1
					</a>
					<% if (lastPage >= 2) { %>
					<a href="/users/<%= user.login %>/2<%= query %>" class="item <% if (currentPage === 2) { %>active<% } %>">
						2
					</a>
					<% } %>
					<% if (lastPage >= 3) { %>
					<a href="/users/<%= user.login %>/3<%= query %>" class="item <% if (currentPage === 3) { %>active<% } %>">
						3
					</a>
					<% } %>
					<% if (currentPage >= 3 || currentPage < lastPage - 2 || currentPage <= lastPage - 2) { %>
					<% if (currentPage - 1 !== 3 && (currentPage - 1 >= 3)) { %>
					<% if (!(currentPage - 2 === 3)) { %>
					<div class="disabled item">
						...
					</div>
					<% } %>
					<% if (!(currentPage - 1 >= lastPage - 2 )) { %>
					<a href="/users/<%= user.login %>/<%= currentPage - 1 %><%= query %>" class="item">
						<%= currentPage - 1 %>
					</a>
					<% } %>
					<% } %>
					<% if (!(currentPage >= lastPage - 2) && (currentPage > 3)) { %>
					<a href="/users/<%= user.login %>/<%= currentPage %><%= query %>" class="item active">
						<%= currentPage %>
					</a>
					<% } %>
					<% if (!(currentPage + 1 >= lastPage - 2)) { %>
					<% if (currentPage >= 3) { %>
					<a href="/users/<%= user.login %>/<%= currentPage + 1 %><%= query %>" class="item">
						<%= currentPage + 1 %>
					</a>
					<% } %>
					<% if (currentPage + 1 >= 2) { %>
					<div class="disabled item">
						...
					</div>
					<% } %>
					<% } %>
					<% } else if (lastPage > 4) { %>
					<div class="disabled item">
						...
					</div>
					<% } %>
					<% if (lastPage - 2 >= 5) { %>
					<a href="/users/<%= user.login %>/<%= lastPage - 2 %><%= query %>" class="item <% if (currentPage === lastPage - 2) { %>active<% } %>">
						<%= lastPage - 2 %>
					</a>
					<% } %>
					<% if (lastPage - 1 >= 5) { %>
					<a href="/users/<%= user.login %>/<%= lastPage - 1 %><%= query %>" class="item <% if (currentPage === lastPage - 1) { %>active<% } %>">
						<%= lastPage - 1 %>
					</a>
					<% } %>
					<% if (lastPage >= 5) { %>
					<a href="/users/<%= user.login %>/<%= lastPage %><%= query %>" class="item <% if (currentPage === lastPage) { %>active<% } %>">
						<%= lastPage %>
					</a>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</div>
