<% backUrl = '/',
	title = __('view.user.settings.pagetitle') + ' — ' + __('global.pagetitle') %>
<%- partial( '../partials/header') %>
<%- partial( 'partials/subheader', {
	header: __('Аккаунт')
}) %>
	<div class="container" style="padding-top:2em;">
		<div class="container">
			<form id="gc-reportform">
				<div class="ui form">
					<div class="field">
						<label><%- __('view.user.settings.startpage.title') %></label>
						<div class="ui icon input">
							<a href="<%= settings.startPage %>" class="gc-nostylelink"><%= settings.startPage %></a>
						</div>
						<small><%- __('view.user.settings.startpage.description') %></small>
					</div>
					<div class="field">
						<label><%- __('view.user.settings.prefix.title') %></label>
						<div class="ui icon input">
							<p><%= settings.prefix %></p>
						</div>
						<small><%- __('view.user.settings.prefix.description') %></small>
					</div>
					<div class="field">
						<label><%- __('view.user.settings.role.title') %></label>
						<div class="ui icon input">
							<p><%= settings.role %></p>
						</div>
						<small><%- __('view.user.settings.role.description') %></small>
					</div>
					<div class="field">
						<label><%- __('view.user.settings.language.title') %></label>
						<div class="ui icon input">
							<div class="ui dropdown" id="gc-languagedropdown">
								<div class="text"><%= settings.language %></div>
								<i class="dropdown icon"></i>
								<input name="language" type="hidden">
								<div class="menu">
									<div class="item" data-value="ru"><%- __('global.language.ru') %></div>
									<div class="item" data-value="en"><%- __('global.language.en') %></div>
								</div>
							</div>
						</div>
						<small><%- __('view.user.settings.language.description') %></small>
					</div>
				</div>
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				<button class="ui submit blue button" type="submit"><%- sails.__({phrase:'view.user.settings.send',locale:sails.language}) %></button>
			</form>
		</div>
	</div>
