<% title = __('view.gameinfo.player.commandslog.title') + ' / ' + __('view.gameinfo.player.title') + ' / ' + __('view.gameinfo.title') + " — " + __('global.pagetitle'),
    backUrl = '/gameinfo',
    url = '/gameinfo/player/commandslog?cake=isalie' + ((req.query.nickname) ? '&nickname='  + req.query.nickname : '' ) + ((req.query.firsttime) ? '&firsttime='  + req.query.firsttime : '' ) + ((req.query.secondtime) ? '&secondtime='  + req.query.secondtime : '' ) + ((req.query.sort) ? '&sort=' + req.query.sort : '');  %>

<%- partial('../partials/header')%>
<%- partial('../partials/subheader', { header: __('view.gameinfo.player.title'), subheader: __('view.gameinfo.player.commandslog.title') }) %>

<div class="container" style="margin-top: 20px">
    <form method="GET">
    <div class="ui small form">
        <div class="two fields">
            <div class="field">
                <label><%= __('view.gameinfo.player.commandslog.form.playername') %></label>
                <div class="ui fluid input">
                    <input placeholder="ChangedNick" type="text" name="nickname" id="gc-formnicknameinput" value="<%= (req.query.nickname) ? req.query.nickname : '' %>">
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="two fields">
            <div class="field">
                <label><%= __('view.gameinfo.form.firsttime') %></label>
                <input placeholder="<%= moment().subtract(3, 'days').format('YYYY-MM-DD H:mm:ss') %>" value="<%= (req.query.firsttime) ? req.query.firsttime : moment().subtract(3, 'days').format('YYYY-MM-DD H:mm:ss') %>"  type="text" name="firsttime">
            </div>
            <div class="field">
                <label><%= __('view.gameinfo.form.secondtime') %></label>
                <input placeholder="<%= moment().format('YYYY-MM-DD H:mm:ss') %>" value="<%= (req.query.secondtime) ? req.query.secondtime : moment().format('YYYY-MM-DD H:mm:ss') %>"  type="text" name="secondtime">
            </div>
        </div>
		<div class="ui divider"></div>
		<div class="grouped fields">
			<label><%= __('view.gameinfo.form.sortcheckbox.title') %></label>
			<div class="field">
				<div class="ui radio checkbox checked">
					<input <%= (!req.query.sort || req.query.sort === 'desc') ? 'checked=""' : '' %> name="sort" type="radio" value="desc">
					<label><%= __('view.gameinfo.form.sortcheckbox.desc') %></label>
				</div>
			</div>
			<div class="field">
				<div class="ui radio checkbox">
					<input <%= (req.query.sort === 'asc') ? 'checked=""' : '' %> name="sort" type="radio" value="asc">
				<label><%= __('view.gameinfo.form.sortcheckbox.asc') %></label>
			</div>
		</div>
        <div class="ui blue submit button" id="gc-formsubmit"><%= __('view.gameinfo.form.send') %></div>
    </div>
    </form>
    <div class="ui divider"></div>
    <% if (log && log.length) { %>
    <% if (log.length >= 15) { %>
    <%- partial('../partials/pagination', {currentPage: currentPage, lastPage: lastPage, url: url}) %>
    <% } %>
    <table class="ui basic small compact table">
        <thead>
            <tr>
                <th width="14%"><%= __('view.gameinfo.player.commandslog.table.sender') %></th>
                <th width="40%"><%= __('view.gameinfo.player.commandslog.table.command') %></th>
                <th width="20%"><%= __('view.gameinfo.player.commandslog.table.time') %></th>
                <th><%= __('view.gameinfo.player.commandslog.table.playercoordinates') %></th>
                <th><%= __('view.gameinfo.player.commandslog.table.blockcoordinates') %></th>
                <th><%= __('view.gameinfo.player.commandslog.table.status') %></th>
            </tr>
        </thead>
        <tbody>
            <% log.forEach(function (element) { %>
            <tr>
                <td><a href='/gameinfo/player/info?nickname=<%= element.player %>'><%= element.player %></a></td>
                <td><% if (element.command) { %><%= element.command %><% } else { %>&mdash;<% } %></td>
                <td><%= moment(element.time).format('YYYY-MM-DD HH:mm:ss') %></td>
                <td><%= Math.floor(element.playerX) %> <%= Math.floor(element.playerY) %> <%= Math.floor(element.playerZ) %></td>
                <td><%= Math.floor(element.blockX) %> <%= Math.floor(element.blockY) %> <%= Math.floor(element.blockZ) %></td>
                <td><%= element.status %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <div style="margin-top: 3em !important;">
        <%- partial('../partials/pagination', {currentPage: currentPage, lastPage: lastPage, url: url}) %>
    </div>
    <% } else if (log && log.code === 'wrongtime') { %>
    <div style="padding: 5em 0em;text-align: center;font-size:1.4em"><%= __('view.gameinfo.error.wrongtime') %></div>
    <% } else if (log && log.code === 'bigtime') { %>
    <div style="padding: 5em 0em;text-align: center;font-size:1.4em"><%= __('view.gameinfo.error.bigtime') %></div>
    <% } else if (log && log.code === 'staffblock') { %>
    <div style="padding: 5em 0em;text-align: center;font-size:1.4em"><%= __('view.gameinfo.player.commandslog.error.staffblock') %></div>
    <% } else if (log && !log.length && !log.code) { %>
    <div style="padding: 5em 0em;text-align: center;font-size:1.4em"><%= __('view.gameinfo.error.notfound') %></div>
    <% } else { %>
    <div style="padding: 5em 0em;text-align: center;font-size:1.4em"><%= __('view.gameinfo.player.commandslog.error.enterdata') %></div>
    <% } %>
</div>
