<% title = __('view.gameinfo.player.loginlog.title') + ' / ' + __('view.gameinfo.player.title') + ' / ' + __('view.gameinfo.title') + " — " + __('global.pagetitle'),
    backUrl = '/gameinfo',
    url = '/gameinfo/player/loginlog?nickname=' + req.query.nickname + '&ip=' + req.query.ip + '&hwid=' + req.query.hwid;  %>
<%- partial('../partials/header')%>


<%- partial('../partials/subheader', { header: __('view.gameinfo.player.title'), subheader: __('view.gameinfo.player.loginlog.title') }) %>
<div class="container" style="margin-top: 20px">
    <form method="GET">
    <div class="ui small form">
        <div class="three fields">
            <div class="field">
                <label><%= __('view.gameinfo.player.loginlog.table.playername') %></label>
                <div class="ui fluid input">
                    <input placeholder="ChangedNick" type="text" name="nickname" id="gc-formnicknameinput" value="<%= (req.query.nickname) ? req.query.nickname : '' %>">
                </div>
            </div>
            <div class="field">
                <label><%= __('view.gameinfo.player.loginlog.table.ip') %></label>
                <div class="ui fluid input">
                    <input placeholder="89.250.6.68" type="text" name="ip" id="gc-formipinput" value="<%= (req.query.ip) ? req.query.ip: '' %>">
                </div>
            </div>
            <div class="field">
                <label><%= __('view.gameinfo.player.loginlog.table.hwid') %></label>
                <div class="ui fluid input">
                    <input placeholder="f6d972a7def04ca8d625c4bb098816ab" type="text" name="hwid" id="gc-formhwidinput" value="<%= (req.query.hwid) ? req.query.hwid : '' %>">
                </div>
            </div>
        </div>
        <div class="ui blue submit button" id="gc-formsubmit"><%= __('view.gameinfo.form.send') %></div>
    </div>
    </form>
    <div class="ui divider"></div>
    <% if (log && log.length) { %>
    <% if (log.length >= 15) { %>
    <%- partial('../partials/pagination', {currentPage: currentPage, lastPage: lastPage, url: url}) %>
    <% } %>
    <table class="ui basic small compact table">
        <thead>
            <tr>
                <th><%= __('view.gameinfo.player.loginlog.table.playername') %></th>
                <th><%= __('view.gameinfo.player.loginlog.table.time') %></th>
                <th><%= __('view.gameinfo.player.loginlog.table.ip') %></th>
                <th><%= __('view.gameinfo.player.loginlog.table.hwid') %></th>
                <th><%= __('view.gameinfo.player.loginlog.table.status') %></th>
            </tr>
        </thead>
        <tbody>
            <% log.forEach(function (element) { %>
            <tr>
                <td><a href="/gameinfo/player/loginlog?nickname=<%= element.login %>"><%= element.login %></a> <small><i><a href="/gameinfo/player/info?nickname=<%= element.login %>">info</a></i></small></td>
                <td><%= moment(element.time).format('YYYY-MM-DD HH:mm:ss') %></td>
                <td><a href="/gameinfo/player/loginlog?ip=<%= element.ip %>"><%= element.ip %></a></td>
                <td><a href="/gameinfo/player/loginlog?hwid=<%= element.hardware %>"><%= element.hardware %></a></td>
                <td><%- element.status %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <div style="margin-top: 3em !important;">
        <%- partial('../partials/pagination', {currentPage: currentPage, lastPage: lastPage, url: url}) %>
    </div>
    <% } else if (log && !log.length) { %>
    <div style="padding: 5em 0em;text-align: center;font-size:1.4em"><%= __('view.gameinfo.player.loginlog.error.neverlogged') %></div>
    <% } else { %>
    <div style="padding: 5em 0em;text-align: center;font-size:1.4em"><%= __('view.gameinfo.player.loginlog.error.enterplayername') %></div>
    <% } %>
</div>