<% var splitedPath = req.path.split('/'),
	login = (splitedPath[1] === 'users') ? splitedPath[2] : '',
	listUrl = '/' + splitedPath[1] + '/' + login,
	kfNoByModifed = '?' + 'cake=isalie' + ((req.param('status')) ? '&status=' + req.param('status') : '') + ((req.param('nostatus')) ? '&nostatus=' + req.param('nostatus') : '') + ((req.param('visibility')) ? '&visibility=' + req.param('visibility') : ''),
	kfNoVisibility = '?' + 'cake=isalie' + ((req.param('status')) ? '&status=' + req.param('status') : '') + ((req.param('nostatus')) ? '&nostatus=' + req.param('nostatus') : '') + ((req.param('byCreation')) ? '&byCreation=' + req.param('byCreation') : ''),
	kfNoStatus = '?' + 'cake=isalie' + ((req.param('nostatus')) ? '&nostatus=' + req.param('nostatus') : '') + ((req.param('visibility')) ? '&visibility=' + req.param('visibility') : '') + ((req.param('byCreation')) ? '&byCreation=' + req.param('byCreation') : ''),
	kfNoNoStatus = '?' + 'cake=isalie' + ((req.param('status')) ? '&status=' + req.param('status') : '') + ((req.param('visibility')) ? '&visibility=' + req.param('visibility') : '') + ((req.param('byCreation')) ? '&byCreation=' + req.param('byCreation') : ''),
	listUrl = '/' + splitedPath[1] + '/' + login,
	status = req.param('status'),
	nostatus = req.param('nostatus'),
	visibility = req.param('visibility') %>
<div class="ui vertical fluid menu">
	<a class="item" href="<%= '/' + splitedPath[1] %>">Сбросить фильтрацию</a>
	<div class="header item">Сортировка</div>
	<div class="item">
		<div class="menu">
			<a class="item l-menu <% if (!(req.param('byCreation') === 'true')) { %> active<% } %>" href="<%= listUrl + kfNoByCreation %>">
				По активности
			</a>
			<a class="item l-menu <% if (req.param('byCreation') === 'true') { %> active<% } %>" href="<%= listUrl + kfNoByCreation %>&byCreation=true">
				По дате создания
			</a>
		</div>
	</div>
	<% if (req.user && req.user.group >= ugroup.mod) { %>
	<div class="header item">Фильтровать по видимости</div>
	<a class="item" href="<%= listUrl + kfNoVisibility %>">
		Сброс фильтрации
	</a>
	<div class="item">
		<div class="menu">
			<a class="item l-menu <% if (visibility === 'public') { %> active<% } %>" href="<%= listUrl + kfNoVisibility %>&visibility=public">
				Публичный
			</a>
			<a class="item l-menu <% if (visibility === 'private') { %> active<% } %>" href="<%= listUrl + kfNoVisibility %>&visibility=private">
				Приватный
			</a>
		</div>
	</div>
	<% } %>
	<div class="header item">Фильтровать по статусу</div>
	<div class="item">
		Общие статусы
		<div class="menu">
			<div class="item l-menu new <% if (status === 'new' || nostatus === 'new') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%= listUrl + kfNoNoStatus %>&nostatus=new"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl + kfNoStatus %>&status=new">Новый</a>
			</div>
			<div class="item l-menu rejected <% if (status === 'rejected' || nostatus === 'rejected') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%= listUrl + kfNoNoStatus %>&nostatus=rejected"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl + kfNoStatus %>&status=rejected">Отменён</a>
			</div>
			<div class="item l-menu specify <% if (status === 'specify' || nostatus === 'specify') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%= listUrl + kfNoNoStatus %>&nostatus=specify"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl + kfNoStatus %>&status=specify">Уточнить</a>
			</div>
			<div class="item l-menu declined <% if (status === 'declined' || nostatus === 'declined') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%= listUrl + kfNoNoStatus %>&nostatus=declined"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl + kfNoStatus %>&status=declined">Отклонён</a>
			</div>
			<% if (req.user && req.user.group >= ugroup.helper) { %>
			<div class="item l-menu hidden <% if (status === 'hidden' || nostatus === 'hidden') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%= listUrl + kfNoNoStatus %>&nostatus=hidden"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl + kfNoStatus %>&status=hidden">Скрыт</a>
			</div>
			<div class="item l-menu removed <% if (status === 'removed' || nostatus === 'removed') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%= listUrl + kfNoNoStatus %>&nostatus=removed"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl + kfNoStatus %>&status=removed">Удалён</a>
			</div>
			<% } %>
			<% if (type.text !== 'Удаление защит') { %>
		</div>
	</div>
	<div class="item">
		Только для баг-репортов
		<div class="menu">
			<div class="item l-menu accepted <% if (status === 'accepted' || nostatus === 'accepted') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%= listUrl + kfNoNoStatus %>&nostatus=accepted"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl + kfNoStatus %>&status=accepted">Принят</a>
			</div>
			<div class="item l-menu fixed <% if (status === 'fixed' || nostatus === 'fixed') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%= listUrl + kfNoNoStatus %>&nostatus=fixed"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl + kfNoStatus %>&status=fixed">Исправлен</a>
			</div>
			<% } %>
			<% if (type.text !== 'Баг-репорты') { %>
		</div>
	</div>
	<div class="item">
		Только для удаления защит
		<div class="menu">
			<div class="item l-menu helpfixed <% if (status === 'helpfixed' || nostatus === 'helpfixed') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%= listUrl + kfNoNoStatus %>&nostatus=helpfixed"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl + kfNoStatus %>&status=helpfixed">Исправлен</a>
			</div>
			<div class="item l-menu inreview <% if (status === 'inreview' || nostatus === 'inreview') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%= listUrl + kfNoNoStatus %>&nostatus=inreview"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl + kfNoStatus %>&status=inreview">На рассмотрении</a>
			</div>
			<div class="item l-menu delayed <% if (status === 'delayed' || nostatus === 'delayed') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%= listUrl + kfNoNoStatus %>&nostatus=delayed"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl + kfNoStatus %>&status=delayed">Отложен</a>
			</div>
			<div class="item l-menu done <% if (status === 'done' || nostatus === 'done') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%= listUrl + kfNoNoStatus %>&nostatus=done"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl + kfNoStatus %>&status=done">Выполнен</a>
			</div>
			<% } %>
		</div>
	</div>
</div>

