<% var listUrl = '/' + req.path.split('/')[1] + (req.path.split('/')[1] === 'users') ? user.login : '',
	filterUrl = req.path.split('/')[2] %>
<div class="ui vertical fluid menu">
	<a class="item" href="<%= listUrl %>">Сбросить фильтрацию</a>
	<div class="header item">Сортировка</div>
	<div class="item">
		<div class="menu">
			<a class="item l-menu" href="<%= listUrl %>/">
				По дате создания
			</a>
			<a class="item l-menu" href="<%= listUrl %>/?byModifed=true">
				По дате изменения
			</a>
		</div>
	</div>
	<% if (req.user && req.user.group >= ugroup.mod) { %>
	<div class="header item">Фильтровать по видимости</div>
	<div class="item">
		<div class="menu">
			<a class="item l-menu <% if (filterUrl === 'public') { %> active<% } %>" href="<%= listUrl %>?visibility=public">
				Публичный
			</a>
			<a class="item l-menu <% if (filterUrl === 'private') { %> active<% } %>" href="<%= listUrl %>?visibility=private">
				Приватный
			</a>
		</div>
	</div>
	<% } %>
	<div class="header item">Фильтровать по статусу</div>
	<div class="item">
		Общие статусы
		<div class="menu">
			<div class="item l-menu new <% if (filterUrl === 'new') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%=listUrl%>?nostatus=new"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl %>?status=new">Новый</a>
			</div>
			<div class="item l-menu rejected <% if (filterUrl === 'rejected') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%=listUrl%>?nostatus=rejected"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl %>?status=rejected">Отменён</a>
			</div>
			<div class="item l-menu specify <% if (filterUrl === 'specify') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%=listUrl%>?nostatus=specify"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl %>?status=specify">Уточнить</a>
			</div>
			<div class="item l-menu declined <% if (filterUrl === 'declined') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%=listUrl%>?nostatus=declined"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl %>?status=declined">Отклонён</a>
			</div>
			<% if (req.user && req.user.group >= ugroup.helper) { %>
			<div class="item l-menu hidden <% if (filterUrl === 'hidden') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%=listUrl%>?nostatus=hidden"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl %>?status=hidden">Скрыт</a>
			</div>
			<% } %>
			<% if (req.user && req.user.group >= ugroup.staff) { %>
			<div class="item l-menu removed <% if (filterUrl === 'removed') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%=listUrl%>?nostatus=removed"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl %>?status=removed">Удалён</a>
			</div>
			<% } %>
			<% if (type.text !== 'Удаление защит') { %>
		</div>
	</div>
	<div class="item">
		Только для баг-репортов
		<div class="menu">
			<div class="item l-menu accepted <% if (filterUrl === 'accepted') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%=listUrl%>?nostatus=accepted"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl %>?status=accepted">Принят</a>
			</div>
			<div class="item l-menu fixed <% if (filterUrl === 'fixed') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%=listUrl%>?nostatus=fixed"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl %>?status=fixed">Исправлен</a>
			</div>
			<% } %>
			<% if (type.text !== 'Баг-репорты') { %>
		</div>
	</div>
	<div class="item">
		Только для удаления защит
		<div class="menu">
			<div class="item l-menu helpfixed <% if (filterUrl === 'helpfixed') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%=listUrl%>?nostatus=helpfixed"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl %>?status=helpfixed">Исправлен</a>
			</div>
			<div class="item l-menu inreview <% if (filterUrl === 'inreview') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%=listUrl%>?nostatus=inreview"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl %>?status=inreview">На рассмотрении</a>
			</div>
			<div class="item l-menu delayed <% if (filterUrl === 'delayed') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%=listUrl%>?nostatus=delayed"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl %>?status=delayed">Отложен</a>
			</div>
			<div class="item l-menu done <% if (filterUrl === 'done') { %> active<% } %>">
				<a class="left floated tiny gc-nostylelink" href="<%=listUrl%>?nostatus=done"><i class="icon disabled remove"></i></a>
				<a href="<%= listUrl %>?status=done">Выполнен</a>
			</div>
			<% } %>
		</div>
	</div>
	<% if (type.text === 'Баг-репорты') { %>
	<div class="header item">Фильтровать по местоположению проблемы</div>
	<div class="item">
		<div class="menu">
			<div class="item l-menu main <% if (filterUrl === 'main') { %> active<% } %>">
				<a href="<%= listUrl %>/main">Сервер Main</a>
			</div>
			<div class="item l-menu rpg <% if (filterUrl === 'rpg') { %> active<% } %>">
				<a href="<%= listUrl %>/rpg">Сервер RPG</a>
			</div>
			<div class="item l-menu apocalyptic <% if (filterUrl === 'apocalyptic') { %> active<% } %>">
				<a href="<%= listUrl %>/apocalyptic">Сервер Apocalyptic</a>
			</div>
			<div class="item l-menu websites <% if (filterUrl === 'websites') { %> active<% } %>">
				<a href="<%= listUrl %>/websites">Веб-сайты</a>
			</div>
		</div>
	</div>
	<% } %>
</div>
