<div class="ui green inverted gc-header menu">
	<div class="left menu">
		<%- partial('../../partials/mainpanel') %>
		<% if (!req.user) { %>
		<a href="/" class="item">
			<i class="home icon" title="<%- __('view.list.header.tomainpage') %>"></i>
		</a>
		<% } else { %>
		<a href="<%= (req.user && req.user.startPage) ? req.user.startPage : '/all' %>" class="item" title="<%= (req.user && req.user.startPage) ? __('view.header.startpage') : __('view.header.alltickets') %>"><i class="home icon"></i></a>
		<% } %>
	</div>
	<div class="right menu">
		<%- partial('../../partials/userpanel')%>
	</div>
</div>
