<% title = '#'+ globalid + ': "' + ticket.title + '" — GC.Поддержка',
	backUrl = gct.getBaseUrlTypeByID(ticket.type.id) %>
<%- partial('../partials/header')%>
<div class="container">
	<div class="ui grid">
		<div class="left floated column" style="width: auto; max-width: 20%; padding-right: 0px;">
			<i class="bug icon" style="font-size: 2em; margin-top: 15px;"></i>
		</div>
		<div class="left floated column" style="width: auto; max-width: 72%; padding-left: 0px; min-width: 60%;">
			<h2 class="ui header">
				<span><%= ticket.title %></span>
				<div class="sub header">
<% if (req.user) {
	if (canModerate || req.user.username === ticket.owner) { %>
<a class="gc-nostylelink" href="/id/<%= globalid %>/edit" title="Изменить"><i class="pencil small icon" id="s-editicon"></i></a>
<% } } %>
&nbsp;<a class="gc-nostylelink" href="/id/<%= globalid %>">#<%= globalid %></a>
&raquo;&nbsp;<%= ticket.owner %>
&raquo;&nbsp;<%= moment(ticket.createdAt).format('D MMM YYYY, h:mm') %>
<% if (ticket.product || ticket.product !== 42) { %>&raquo;&nbsp;<%= ticket.product.ticketText %><% } %>
				</div>
			</h2>
		</div>
		<div class="right floated one wide column">
			<div class="s-status <%= ticket.status.class %>"><%- ticket.status.text %></div>
			<div class="s-visiblity"><%= ticket.visiblity %></div>
		</div>
	</div>
	<div class="s-ui divider"></div>
	<div class="ui grid">
		<div class="column" style="width: 56%;">
			<h2 class="ui header">Описание</h2>
			<p class="s-description"><%- ticket.description %></p>

			<% if (ticket.logs) {%>
			<h2 class="ui header">Логи</h2>
			<div class="ui accordion">
				<div class="title">
					<i class="dropdown icon"></i>
					Спойлер
				</div>
				<div class="content">
					<p class="s-logs"><%- ticket.logs %></p>
				</div>
			</div>
			<% } %>

			<% if (ticket.uploads.length) { %>
			<h2 class="ui header">Изображения</h2>
			<div class="ui stackable items">
				<div class="row">
				<% 	ticket.uploads.forEach(function(item, index) { %>
					<div class="item">
						<div class="image">
							<a href="/uploads/<%= item %>" rel="lightbox"><img style="display:block;width:100%;" src="/uploads/<%= item %>"></a>
						</div>
					</div>
				<% }) %>
				</div>
			</div>
			<% } %>
		</div>
		<div class="seven wide column" style="padding-bottom: 10em; border-left: 1px solid rgba(0, 0, 0, 0.1);">
			<div class="ui grid">
				<div class="left floated column" style="margin-top: 0px !important;">
					<h2 class="ui header">
						Обсуждение
						<div id="commentssubheader" class="ui sub header" style="width:15em;"></div>
					</h2>
				</div>
				<div class="right floated column s-commentsrefresh">
					<a href="#" class="gc-nostylelink" id="commentrefresh" title="Обновить"><i class="refresh icon"></i></a>
					<% if (req.user && req.user.group >= ugroup.mod) { %>
					<a href="#" class="gc-nostylelink" id="commentremoved" title="Показать удалённые"><i class="remove icon"></i></a>
					<% } %>
				</div>
			</div>
			<div class="ui comments container" id="comments"></div>
			<div class="ui divider" id="commentdivider"></div>
			<% if (req.user) { %>
			<form class="ui reply form container" id="commentpost">
				<% if (["Новый","Уточнить","Принят"].indexOf(ticket.status.text) !== -1 &&  req.user && (canModerate || ticket.owner == (req.user.username || '') || ((req.user.group || 0) >= ugroup.helper && ticket.status.text === 'Новый'))) { %>
				<div class="field">
					<label>Смена статуса <a class="gc-nostylelink" href="https://wiki.greencubes.org/Система_поддержки/Статусы" target="_blank"><i class="help icon gc-helppopup" data-content="С помощью этого поля можно поменять статус тикета. Справка по статусам по клику на эту иконку" data-variation="inverted"></i></a></label>
					<div class="ui selection dropdown" id="s-setstatus">
						<input name="status" type="hidden" />
						Статус:
						<div class="default text"><%= ticket.status.text %></div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<% if (ticket.status.text === 'Новый') { %>
								<% if (ticket.owner === (req.user.username || '')) { %>
								<div class="item" data-value="1">Новый</div>
								<% } %>
								<% if (canModerate || (req.user.group || 0) >= ugroup.mod) { %>
								<div class="item" data-value="11">Принят</div>
								<% } %>
								<% if (canModerate || (req.user.group || 0) >= ugroup.helper) { %>
								<div class="item" data-value="3">Уточнить</div>
								<% } %>
								<% if (canModerate || (req.user.group || 0) >= ugroup.mod) { %>
								<div class="item" data-value="4">Отклонён</div>
								<% } %>
								<% if (ticket.owner === (req.user.username || '')) { %>
								<div class="item" data-value="2">Отменён</div>
								<% } %>
							<% } %>
							<% if (ticket.status.text === 'Уточнить') { %>
								<div class="active item" data-value="3">Уточнить</div>
								<div class="item" data-value="11">Принят</div>
								<div class="item" data-value="4">Отклонён</div>
							<% } %>
							<% if (ticket.status.text === 'Принят') { %>
								<div class="active item" data-value="11">Принят</div>
								<div class="item" data-value="12">Исправлен</div>
								<div class="item" data-value="4">Отклонён</div>
							<% } %>
						</div>
					</div>
				</div>
				<% } %>
				<div class="field" id="commentfield">
					<textarea id="commentform" name="message"></textarea>
				</div>
				<div class="ui teal submit fluid small button" type="submit" id="commentsubmit">Комментировать</div>
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form>
			<% } else { %>
			<div style="padding: 2em 0em;text-align: center;font-size:1.4em">Комментирование разрешено только авторизованным пользователям</div>
			<% } %>
		 </div>
	</div>
</div>
<%- partial('partials/removecomment.ejs') %>
