<% title = __('view.view.pagetitle', globalid, ticket.title) + " — " + __('global.pagetitle'),
	backUrl = gct.getBaseUrlTypeByID(ticket.type.id);%>
<%- partial('../partials/header')%>
<div class="container">
	<div class="ui grid">
		<div class="left floated column" style="width: auto; max-width: 20%; padding-right: 0px;">
			<i class="trash icon" style="font-size: 2em; margin-top: 15px;"></i>
		</div>
		<div class="left floated column" style="width: auto; max-width: 72%; padding-left: 0px; min-width: 60%;">
			<h2 class="ui header">
				<span><%= ticket.title %></span>
				<div class="sub header">
<% if (req.user && (req.user.id === ticket.owner.id || req.user.group >= ugroup.mod)) { %>
<a class="gc-nostylelink"  href="/id/<%= globalid %>/edit" title="<%- __('view.view.editbutton') %>"><i class="pencil small icon" id="s-editicon"></i></a>
<% } %>
&nbsp;<a class="gc-nostylelink"  href="/id/<%= globalid %>">#<%= globalid %></a>
&raquo;&nbsp;<% if (ticket.createdFor.login && ticket.createdFor.login !== ticket.owner.login) { %><a class="gc-nostylelink<% if (req.user && req.user.group >= ugroup.helper) { %> pinfopopup" style="cursor:pointer;border-bottom: 1px dotted;" data-position="bottom center" data-html="<%- partial('../partials/pinfo', {pinfo:ticket.createdFor.pinfo}) %>" data-variation="small" title="<%- __('view.view.pinfohint') %>"<% } else { %>" href="/users/<%= ticket.createdFor.login %>"<% } %>><%= ticket.createdFor.login %></a> (заявка создана <a class="gc-nostylelink<% if (req.user && req.user.group >= ugroup.helper) { %> pinfopopup"style="cursor:pointer;border-bottom: 1px dotted;" data-position="bottom center" data-html="<%- partial('../partials/pinfo', {pinfo:ticket.owner.pinfo}) %>" data-variation="small" title="<%- __('view.view.pinfohint') %>"<% } else { %>" href="/users/<%= ticket.owner.login %>"<% } %>><%= ticket.owner.login %></a>)<% } else { %><a class="gc-nostylelink<% if (req.user && req.user.group >= ugroup.helper) { %> pinfopopup"style="cursor:pointer;border-bottom: 1px dotted;" data-position="bottom center" data-html="<%- partial('../partials/pinfo', {pinfo:ticket.owner.pinfo}) %>" data-variation="small" title="<%- __('view.view.pinfohint') %>"<% } else { %>" href="/users/<%= ticket.owner.login %>"<% } %>><%= ticket.owner.login %></a><% } %>
&raquo;&nbsp;<%= moment(ticket.createdAt).format('D MMM YYYY, H:mm') %>
				</div>
			</h2>
		</div>
		<div class="right floated one wide column">
			<div class="s-status <%= ticket.status.class %>"><%- ticket.status.text %></div>
			<div class="s-visiblity" <% if (req.user && req.user.group >= ugroup.helper) { %>id="s-visiblity" style="border-bottom: 1px dotted; cursor: pointer;"<% } %>><%= ticket.visiblity %></div>
		</div>
	</div>
	<div class="s-ui divider"></div>
	<div class="ui grid">
		<div class="column" style="width: 56%;">
			<h2 class="ui header"><%- __('view.view.rempro.reason') %></h2>
			<p class="s-description"><%- ticket.reason.view %></p>

			<% if (ticket.uploads.length) { %>
			<h2 class="ui header"><%- __('view.view.uploads') %></h2>
			<div class="ui stackable items">
				<div class="row">
				<% 	ticket.uploads.forEach(function(item, index) { %>
					<div class="item">
						<div class="image">
							<a href="/uploads/<%= item %>" rel="lightbox"><img style="display:block;width:100%;" src="/uploads/<%= item %>"></a>
						</div>
					</div>
				<% }) %>
				</div>
			</div>
			<% } %>

			<div class="ui grid">
			<% if (ticket.regions.length) { %>
			<div class="column" style="width:50%;padding-left:0%;margin-bottom:0em;">
				<h2 class="ui header"><%- __('view.view.rempro.regions.title') %></h2>
				<ul>
				<% 	ticket.regions.forEach(function(item, index) { %>
					<li><input class="s-regionstuffitem<% if (req.user && req.user.group >= ugroup.helper) { %> rinfopopup" style="cursor:pointer;" data-position="bottom center" data-html="<%- partial('../partials/regioninfo', {rinfo:item}) %>" title="Нажатие активирует подсказку"<% } else { %>"<% } %> readonly value="<%= item.name %>"><% if (item.comment) { %><span class="s-regionstuffitemcomment"><%= item.comment %></span><% } %></li>
				<% }) %>
				</ul>
				<div class="ui basic accordion">
					<div class="title" title="<%- __('view.view.rempro.regions.accordionhint') %>">
						<i class="dropdown icon"></i>
						<%- __('view.view.rempro.regions.fulllist') %>
					</div>
					<div class="content" >
						<textarea class="s-regionstuffitem" id="s-regionstextarea" readonly style="width: 100%;"><% ticket.regions.forEach(function(item, index) { %><%= item.name %> <% }) %></textarea>
						<small style="border-bottom: 1px dotted rgb(0, 0, 0); cursor: pointer;" id="s-regionsbutton"><%- __('view.view.rempro.regions.selectall') %></small>
					</div>
				</div>
			</div>
			<% } %>


			<% if (ticket.stuff.length) { %>
			<div class="column" style="width:50%;padding-left:0%;margin-bottom:0em;">
				<h2 class="ui header"><%- __('view.view.rempro.stuff.title') %></h2>
				<ul>
				<% 	ticket.stuff.forEach(function(item, index) { %>
					<li><input class="s-regionstuffitem" readonly value="<%= item.coord %>"><% if (item.comment) { %><span class="s-regionstuffitemcomment"><%= item.comment %></span><% } %></li>
				<% }) %>
				</ul>
			</div>
			<% } %>
			</div>
			<% if (ticket.regions.length || ticket.regions.stuff) { %>
			<div class="ui divider"></div>
			<div class="gc-help"><i class="help icon"></i><%- __('view.view.rempro.stuff.hint') %></div>
			<% } %>
		</div>
		<div class="seven wide column" style="padding-bottom: 10em; border-left: 1px solid rgba(0, 0, 0, 0.1);">
			<div class="ui grid">
				<div class="left floated column" style="margin-top: 0px !important;width:90%">
					<h2 class="ui header" style="margin:0">
						<%- __('view.view.comment.title') %>
						<div id="commentssubheader" class="ui sub header"></div>
					</h2>
				</div>
				<div class="right floated column s-commentsrefresh">
					<a href="#" class="gc-nostylelink" id="commentrefresh" title="<%- __('view.view.comment.refresh') %>"><i class="refresh icon"></i></a>
					<% if (req.user && req.user.group >= ugroup.mod) { %>
					<a href="#" class="gc-nostylelink" id="commentremoved" title="<%- __('view.view.comment.showremoved') %>"><i class="remove icon"></i></a>
					<% } %>
				</div>
			</div>
			<div class="ui comments container" id="comments"></div>
			<div class="ui divider" id="commentdivider"></div>
			<% if (!req.user) { %>
			<div style="padding: 2em 0em;text-align: center;font-size:1.4em"><%- __('view.view.comment.onlyauthusers') %></div>
			<% } else if (req.user.group < ugroup.helper && [2,4,5,6,7,10,12].indexOf(ticket.status.id) !== -1) { %>
				<div style="padding: 2em 0em;text-align: center;font-size:1.4em"><%- __('view.view.comment.cantcommentclosed') %></div>
			<% } else { %>
			<form class="ui reply form container" id="commentpost">
				<% if ([1,3,8,9].indexOf(ticket.status.id) !== -1 && req.user && ((ticket.owner.id === req.user.id || ((req.user.group || 0) >= ugroup.helper)) && ticket.status.id === 1 || canModerate)) { %>
				<div class="field">
					<label><%- __('view.view.comment.status.title') %> <a class="gc-nostylelink" href="https://wiki.greencubes.org/Система_поддержки/Статусы" target="_blank"><i class="help icon gc-helppopup" data-content="<%- __('view.view.comment.status.helphint') %>" data-variation="inverted"></i></a></label>
					<div class="ui selection dropdown" id="s-setstatus">
						<input name="status" type="hidden" />
						<%- __('view.view.comment.status.title') %>:
						<div class="default text"><%= ticket.status.text %></div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<% if (ticket.status.id === 1) { %>
								<div class="active item" data-value="1"><%- __('global.status.new') %></div>
								<% if ((req.user.group || 0) >= ugroup.mod) { %>
								<div class="item" data-value="8"><%- __('global.status.inreview') %></div>
								<% } %>
								<% if ((req.user.group || 0) >= ugroup.helper) { %>
								<div class="item" data-value="3"><%- __('global.status.specify') %></div>
								<% } %>
								<% if ((req.user.group || 0) >= ugroup.mod) { %>
								<div class="item" data-value="4"><%- __('global.status.declined') %></div>
								<% } %>
								<% if (ticket.owner.id === req.user.id) { %>
								<div class="item" data-value="2"><%- __('global.status.rejected') %></div>
								<% } %>
							<% } %>
							<% if (ticket.status.id === 3) { %>
								<div class="active item" data-value="3"><%- __('global.status.specify') %></div>
								<div class="item" data-value="10"><%- __('global.status.done') %></div>
								<div class="item" data-value="4"><%- __('global.status.declined') %></div>
							<% } %>
							<% if (ticket.status.id === 8) { %>
								<div class="active item" data-value="8"><%- __('global.status.inreview') %></div>
								<div class="item" data-value="10"><%- __('global.status.done') %></div>
								<div class="item" data-value="3"><%- __('global.status.specify') %></div>
								<div class="item" data-value="9"><%- __('global.status.delayed') %></div>
								<div class="item" data-value="4"><%- __('global.status.declined') %></div>
							<% } %>
							<% if (ticket.status.id === 9) { %>
								<div class="active item" data-value="9"><%- __('global.status.delayed') %></div>
								<div class="item" data-value="3"><%- __('global.status.specify') %></div>
								<div class="item" data-value="10"><%- __('global.status.done') %></div>
								<div class="item" data-value="4"><%- __('global.status.declined') %></div>
							<% } %>
						</div>
					</div>
				</div>
				<% } %>
				<div class="field" id="commentfield">
					<label><%- __('view.view.comment.message') %></label>
					<textarea id="commentform" name="message"></textarea>
				</div>
				<div class="gc-help"><i class="help icon"></i><% if ([1,3,1].indexOf(ticket.status.id) !== -1 && req.user && (ticket.owner.id === req.user.id || ((req.user.group || 0) >= ugroup.helper && ticket.status.id === 1))) { %><%- __('view.view.comment.helphint.status') %><% } %><%- __('view.view.comment.helphint.bbcode') %></div>
				<div class="ui divider"></div>
				<div class="ui teal submit fluid small button" type="submit" id="commentsubmit"><%- __('view.view.comment.send') %></div>
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form>
			<% } %>
		 </div>
	</div>
</div>
<%- partial('partials/errormodal.ejs') %>
<%- partial('partials/editcomment.ejs') %>
<%- partial('partials/removecomment.ejs') %>
<%- partial('partials/changevisibility.ejs') %>
