<% title = __('view.home.preview.pagetitle') %>

<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title><%- title %></title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="icon" type="image/png" href="//greencubes.org/favicon.png" />
		<link rel="stylesheet" type="text/css" href="/css/libs.css" />
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
		<script type="text/javascript" src="/js/libs.js"></script>
	</head>

	<body class="preview">

			<div class="wrapper">
				<%- partial('partials/header') %>
				<div class="first section">
					<div class="ui grid">
						<div class="left floated column page" style="width: auto; max-width: 72%; padding-left: 0px; min-width: 60%;margin-top: 40px;">
							<div class="main header">
								<img class="ui image gc-logo" src="/images/logo-preview.png">
								<h1><%- __('view.home.preview.title') %></h1>
								<h3><%- __('view.home.preview.subtitle') %></h3>
							</div>
						</div>
						<div class="right floated two wide column loginform">
							<form id="loginform" style="margin-top:50px">
								<div class="ui form" style="display: inline-block !important">
									<div class="field">
										<div class="ui left labeled icon input">
											<input placeholder="<%- __('view.home.preview.login.username') %>" type="text" name="username">
											<i class="user icon"></i>
										</div>
									</div>
									<div class="field">
										<div class="ui left labeled icon input">
											<input placeholder="<%- __('view.home.preview.login.password') %>" type="password" name="password">
											<i class="lock icon"></i>
										</div>
									</div>
									<button type="submit" class="ui blue submit button gc-center"><%- __('view.home.preview.login.enter') %></button>
								</div>
								<input type="hidden" name="_csrf" value="<%= _csrf %>" />
							</form>
							<div id="loginerr"></div>
						</div>
					</div>
				</div>
				<div class="second section">
					<div class="page">
						<div class="header">
							<h1><%- __('view.home.preview.section.second.forwhatweneedtickets') %></h1>
							<h3><%- __('view.home.preview.section.second.systemcan') %></h3>
							<h3><%- __('view.home.preview.section.second.someoneresponse') %></h3>
						</div>
					</div>
				</div>
				<div class="third section">
					<div class="page">
						<div class="faq header">
							<h1><%- __('view.home.preview.section.third.howtouse') %></h1>
							<h3><%- __('view.home.preview.section.third.tldraboutwork') %>:</h3>
							<ol>
								<li><%- __('view.home.preview.section.third.tldraboutwork.first') %></li>
								<li><%- __('view.home.preview.section.third.tldraboutwork.second') %></li>
								<li><%- __('view.home.preview.section.third.tldraboutwork.third') %></li>
								<li><%- __('view.home.preview.section.third.tldraboutwork.fourth') %></li>
							</ol>
							<h3 style="margin-top:15px;"><%- __('view.home.preview.section.third.donotforgetaboutlogin') %></h3>
						</div>
					</div>
				</div>
				<div class="fourth section">
					<div class="page">
						<div class="header">
							<h1><%- __('view.home.preview.section.fourth.wheretostart') %></h1>
							<h3><%- __('view.home.preview.section.fourth.frombeginning','<a href="/login">','</a>','<a href="/all">','</a>','<a href="/new">','</a>') %></h3>
							<h3><%- __('view.home.preview.section.fourth.alsoyoucan','<a href="#">','</a>') %></h3>
						</div>
					</div>
				</div>
			<%- partial('../partials/footer') %>
			</div>
		<!-- SANIC HEGEHOG GOTTA GO FAST -->
		<script>
			(function () {
				this.__ = new Polyglot({
					phrases: <%- sails.frontTmpl %>,
					locale: '<%= req.session.locale %>'
				});
			}.call(this));

			moment.lang('<%= req.session.locale %>');
		</script>
		<script type="text/javascript" src="/js/app.js"></script>
	</body>

</html>
