<div class="gc-center">
	<div class="ui pagination menu">
		<a href="<%- url %>&page=1" class="item <% if (currentPage === 1) { %>active<% } %>">
			1
		</a>
		<% if (lastPage >= 2) { %>
		<a href="<%- url %>&page=2" class="item <% if (currentPage === 2) { %>active<% } %>">
			2
		</a>
		<% } %>
		<% if (lastPage >= 3) { %>
		<a href="<%- url %>&page=3" class="item <% if (currentPage === 3) { %>active<% } %>">
			3
		</a>
		<% } %>
		<% if (currentPage >= 3 || currentPage < lastPage - 2 || currentPage <= lastPage - 2) { %>
		<% if (currentPage - 1 !== 3 && (currentPage - 1 >= 3)) { %>
		<% if (!(currentPage - 2 === 3)) { %>
		<div class="disabled item">
			...
		</div>
		<% } %>
		<% if (!(currentPage - 1 >= lastPage - 2 )) { %>
		<a href="<%- url %>&page=<%= currentPage - 1 %>" class="item">
			<%= currentPage - 1 %>
		</a>
		<% } %>
		<% } %>
		<% if (!(currentPage >= lastPage - 2) && (currentPage > 3)) { %>
		<a href="<%- url %>&page=<%= currentPage %>" class="item active">
			<%= currentPage %>
		</a>
		<% } %>
		<% if (!(currentPage + 1 >= lastPage - 2)) { %>
		<% if (currentPage >= 3) { %>
		<a href="<%- url %>&page=<%= currentPage + 1 %>" class="item">
			<%= currentPage + 1 %>
		</a>
		<% } %>
		<% if (currentPage + 1 >= 2) { %>
		<div class="disabled item">
			...
		</div>
		<% } %>
		<% } %>
		<% } else if (lastPage > 4) { %>
		<div class="disabled item">
			...
		</div>
		<% } %>
		<% if (lastPage - 2 >= 5) { %>
		<a href="<%- url %>&page=<%= lastPage - 2 %>" class="item <% if (currentPage === lastPage - 2) { %>active<% } %>">
			<%= lastPage - 2 %>
		</a>
		<% } %>
		<% if (lastPage - 1 >= 5) { %>
		<a href="<%- url %>&page=<%= lastPage - 1 %>" class="item <% if (currentPage === lastPage - 1) { %>active<% } %>">
			<%= lastPage - 1 %>
		</a>
		<% } %>
		<% if (lastPage >= 5) { %>
		<a href="<%- url %>&page=<%= lastPage %>" class="item <% if (currentPage === lastPage) { %>active<% } %>">
			<%= lastPage %>
		</a>
		<% } %>
	</div>
</div>
