<% title = __('view.edit.pagetitle', ticket.id, ticket.title) + " — " + __('global.pagetitle'),
	backUrl = '/id/' + ticket.id %>
<%- partial('partials/header')%>
<div class="container">
	<div class="ui two column grid">
		<div class="column" style="width:70%;border-right: 1px solid rgba(0, 0, 0, 0.1);">
			<form id="gc-reportform" action="/id/<%= ticket.id %>/edit" method="POST" enctype="multipart/form-data">
				<input type="hidden" name="_csrf" id="_csrf" value="<%= _csrf %>" />
				<div class="ui fluid form" id="gc-reportformdiv">
					<h1 class="header" style="margin: 0px; padding: 0.2em 0em 0em;"><%- __('view.edit.title', '<a href="/id/' + ticket.id + '">', ticket.id, '</a>', ticket.title) %>
					</h1>
					<div class="ui divider" style="margin: 1em 0em !important;"></div>
					<div class="field">
						<label><%- __('view.edit.form.title') %></label>
						<input name="title" type="text" value="<%= ticket.title %>">
					</div>
					<div class="field">
						<label><%- __('view.edit.ban.form.reason') %></label>
						<textarea id="reason" name="reason"><%- ticket.reason.edit %></textarea>
					</div>
					<div class="field">
						<label><%- __('view.edit.form.logs') %></label>
						<textarea id="logs" style="min-height: 1em; height: 6em;" name="logs"><% if (ticket.logs) { %><%= ticket.logs %><% } %></textarea>
					</div>
					<div class="ui divider"></div>
					<div class="field">
						<% if (ticket.uploads.length) { %>
						<label><%- __('view.edit.form.upload.title') %></label>
						<div class="ui stackable items">
							<div class="row">
							<% 	ticket.uploads.forEach(function(item, index) { %>
								<div class="item">
									<div class="image">
										<a href="/uploads/<%= item %>" rel="lightbox"><img style="display:block;width:100%;" src="/uploads/<%= item %>"></a>
									</div>
									<div class="content">
										<div class="extra">
											<div class="ui checkbox">
											  <input name="removeimage" type="checkbox" value="<%= index %>">
											  <label><%- __('view.edit.form.upload.remove') %></label>
											</div>
										</div>
									</div>
								</div>
							<% }) %>
							</div>
						</div>
						<% } %>
					</div>
					<div class="field">
						<label><%- __('view.edit.form.upload.title') %></label>
						<input class="ui basic button" type="file" multiple name="upload" value="<%- __('view.edit.form.upload.placeholder') %>"></input>
					</div>
					<div class="gc-help"><i class="attention icon"></i><%- __('view.edit.form.upload.attention') %></div>
					<div class="ui divider"></div>
					<div class="ui grid">
						<div class="left floated four wide column" style="margin: 0em !important;padding: 0px !important;">
							<button class="ui blue fluid button" type="submit"><%- __('view.edit.form.send') %></button>
						</div>
						<% if (req.user.group >= ugroup.mod) { %>
						<div class="right floated four wide column" style="margin: 0em !important;padding: 0px !important;">
							<a class="ui red fluid button" href="#" id="deleteticket"><%- __('view.edit.form.deleteticket') %></a>
						</div>
						<% } %>
					</div>
					<div id="errmessage"></div>
					<div class="ui dimmer" id="senddimmer">
						<div class="ui large text loader"><%- __('view.edit.dimmertext') %></div>
					</div>
				</div>
			</form>
		</div>
		<div class="column" style="width:30%">
			<h2 class="header"><%- __('view.edit.panel.title') %></h2>
			<div class="ui relaxed list">
				<div class="item">
					<div class="header"><%- __('view.edit.panel.visibility') %></div>
					<%= ticket.visiblity.text %>
				</div>
				<div class="item">
					<div class="header"><%- __('view.edit.panel.creator') %></div>
					<%= ticket.owner.login %>
				</div>
				<div class="item">
					<div class="header"><%- __('view.edit.panel.createdate') %></div>
					<%= moment(ticket.createdAt).format('D MMM YYYY, H:mm') %>
				</div>
				<div class="item">
					<div class="header"><%- __('view.edit.ban.panel.targetuser') %></div>
					<%= ticket.targetUser.login %>
				</div>
			</div>
		</div>
	</div>
</div>
<%- partial('partials/delete') %>
<%- partial('../partials/unsaved') %>
<%- partial('partials/errormodal') %>
