<% title = "Редактирование " + ticket.id + ": \"" + ticket.title + "\" — GC.Тикеты",
	backUrl = '/id/' + ticket.id; ;
scripts.push('wbb.js','create.js','lightbox.js', 'edit.bugreport.js');
styles.push('main.css','wbb.css','lightbox.css') %>
<%- partial('../partials/header')%>
<form id="gc-reportform" action="/id/<%= ticket.id %>/edit" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	<div class="ui fluid form container" id="gc-reportformdiv">
		<h1 class="header" style="margin-bottom: 0px;">Редактирование #<%= ticket.id %>: "<%= ticket.title %>"
		</h1>
		<div class="ui divider" style="margin: 1em 0em !important;"></div>
		<div class="two fields">
			<div class="field" style="width: 250px !important;">
				<label>Поле видимости тикета</label>
				<div class="ui selection fluid dropdown">
					<input name="visiblity" type="hidden"  value="<%= ticket.visiblity %>">
					<div class="default text">Выбери приватность тикета</div>
					<div class="menu">
						 <div class="item" data-value="1">Виден всем</div>
						 <div class="item" data-value="2">Виден только разработчику</div>
					</div>
					<i class="dropdown icon"></i>
				</div>
			</div>
		</div>
		<div class="field">
			<label>Краткое описание</label>
			<input name="title" type="text" value="<%= ticket.title %>">
		</div>
		<div class="field">
			<label>Подробное описание</label>
			<textarea id="description" name="description"><%= ticket.description %></textarea>
		</div>
		<div class="field">
			<label>Логи <em>(необязательно)</em></label>
			<textarea id="logs" name="logs"><% if (ticket.logs) { %><%= ticket.logs %><% } %></textarea>
		</div>
		<div class="ui divider"></div>
		<div class="field">
			<% if (ticket.uploads.length) { %>
			<label>Изображения</label>
			<div class="ui stackable items">
				<div class="row">
				<% 	ticket.uploads.forEach(function(item, index) { %>
					<div class="item">
						<div class="image">
							<a href="/uploads/<%= item %>" rel="lightbox"><img style="display:block;width:100%;" src="/uploads/<%= item %>"></a>
						</div>
						<div class="content">
							<div class="extra">
								<div class="ui checkbox">
								  <input name="removeimage" type="checkbox" value="<%= index %>">
								  <label>Удалить</label>
								</div>
							</div>
						</div>
					</div>
				<% }) %>
				</div>
			</div>
			<% } %>
		</div>
		<div class="field">
			<label>Прикрепить изображение <em>(необязательно)</em></label>
			<input class="ui basic button" type="file" multiple name="upload" value="Загрузить изображения"></input>
		</div>
		<div class="ui divider"></div>
		<button class="ui blue submit button" type="submit">Отправить тикет</button>
		<div id="errmessage"></div>
	</div>
</form>
<script>$(function(){$("#description").htmlcode('<%= ticket.description %>')}).sync();</script>
