<% title = 'Права пользователей / Админпанель — GC.Поддержка',
	backUrl = '/admin'; %>
<%- partial('../../partials/header')%>

<div class="container">
	<h1 class="ui header">Права пользователей / <a class="gc-nostylelink" href="/admin">Админпанель</a></h1>
	<div class="ui divider"></div>
	<h5>Показаны только игроки с группой хелпер и выше</h5>
	<table class="ui table">
		<thead>
			<tr>
				<th>Никнейм</th>
				<th>Группа</th>
				<th>Префикс</th>
				<th>Цветовой класс</th>
				<th>Может модерировать</th>
				<th style="width:5%"></th>
			</tr>
		</thead>
		<tbody>
		<% rights.forEach(function(element) {%>
			<tr>
				<td><%= element.login %></td>
				<td><%= gct.user.getGroupString(element.ugroup) %></td>
				<td><%= element.prefix %></td>
				<td><%= element.colorclass %></td>
				<td><%= element.canModerate %></td>
				<td><a class="gc-nostylelink" href="/admin/users/roles/remove/<%= element.uid %>"><i  class="icon remove"></i></a></td>
			</tr>
		<% }) %>
		</tbody>
	</table>
	
	<div class="ui divider"></div>
	
	<h2 class="ui header">Изменить права</h2>
	<form id="gc-newrole">
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		<div class="ui small form" style="width: 600px;">
			<div class="two fields">
				<div class="field">
					<label>Префикс</label>
					<input placeholder="[HELP!]" type="text" name="prefix">
				  </div>
				<div class="field">
					<label>Никнейм</label>
					<input placeholder="ChangedNick" type="text" name="username">
				</div>
			</div>
			<div class="two fields">
			  <div class="field">
				<label>Группа</label>
				<div class="ui fluid selection dropdown">
				  <div class="text">Выбрать</div>
				  <i class="dropdown icon"></i>
				  <input name="ugroup" type="hidden">
				  <div class="menu">
					<div class="item" data-value="0">Пользователь</div>
					<div class="item" data-value="1">Хелпер</div>
					<div class="item" data-value="2">Модератор</div>
					<div class="item" data-value="3">Персонал</div>
				  </div>
				</div>
			  </div>
			  <div class="field">
				<label>Цветовой класс</label>
				<div class="ui fluid selection dropdown">
				  <div class="text">Выбрать</div>
				  <i class="dropdown icon"></i>
				  <input name="colorclass" type="hidden">
				  <div class="menu">
					<div class="item" data-value="none">Никакой</div>
					<div class="item" data-value="red">Red</div>
					<div class="item" data-value="green">Green</div>
					<div class="item" data-value="purple">Purple</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="grouped inline fields">
				<label>Может модерировать</label>
				<div class="field">
				  <div class="ui checkbox">
					<input name="mod-main" type="checkbox">
					<label>Main</label>
				  </div>
				</div>
				<div class="field">
				  <div class="ui checkbox">
					<input name="mod-rpg" type="checkbox">
					<label>RPG</label>
				  </div>
				</div>
				<div class="field">
				  <div class="ui checkbox">
					<input name="mod-apo" type="checkbox">
					<label>Apocalyptic</label>
				  </div>
				</div>
			  </div>
			<div class="ui divider"></div>
			<button class="ui blue submit button" type="submit">Отправить</button>
			<div id="errmessage"></div>
		</div>
	</form>
</div>
