<% title = 'Логи блоков / Мир / Панель игровой информации' + " — " + __('global.pagetitle'),
	backUrl = '/gameinfo',
	url = (req.query.xyz) ? ('/gameinfo/world/blockslog?xyz=' + req.query.xyz + '&block=' + req.query.block) : '/gameinfo/world/blockslog?firstxyz=' + req.query.firstxyz + '&secondxyz=' + req.query.secondxyz + '&firsttime=' + req.query.firsttime + '&secondtime=' + req.query.secondtime + '&block=' + req.query.block;  %>
<%- partial('../partials/header')%>

<%- partial('../partials/subheader', { header: 'Мир', subheader: 'Логи блоков' }) %>

<div class="container" style="margin-top: 20px">
	<form method="GET">
	<div class="ui small form">
		<div class="two fields">
			<div class="field">
				<label>Координата блока</label>
				<div class="ui fluid input">
					<input placeholder="-1337 62 1333" type="text" name="xyz" value="<%= (req.query.xyz) ? req.query.xyz : '' %>">
				</div>
			</div>
			<div class="field">
				<label>Блок</label>
				<div class="ui fluid selection dropdown gc-formdropdown">
					<div class="text">Выбери</div>
					<i class="dropdown icon"></i>
					<input name="block" id="gc-formfirstblockinput" type="hidden" value="<%= (req.query.block) ? req.query.block : '' %>">
					<div class="menu">
						<div class="item" data-value="10">Лава</div>
						<div class="item" data-value="8">Вода</div>
						<div class="item" data-value="51">Огонь</div>
						<div class="item" data-value="63">Табличка</div>
						<div class="item" data-value="19">Губка</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui blue submit button" id="gc-formfirstsubmit">Submit</div>
	</div>
	</form>
	<div class="ui divider"></div>
	<form method="GET">
	<div class="ui small form">
		<div class="two fields">
			<div class="field">
				<label>Первая координата</label>
				<input placeholder="-1337 62 1333" type="text" name="firstxyz" value="<%= (req.query.firstxyz) ? req.query.firstxyz : '' %>">
			</div>
			<div class="field">
				<label>Вторая координата</label>
				<input placeholder="-1339 65 1342" type="text" name="secondxyz" value="<%= (req.query.secondxyz) ? req.query.secondxyz : '' %>">
			</div>
		</div>
		<div class="three fields">
			<div class="field">
				<label>От</label>
				<input placeholder="<%= moment().subtract(3, 'days').format('YYYY-MM-DD H:mm:ss') %>" value="<%= (req.query.firsttime) ? req.query.firsttime : moment().subtract(3, 'days').format('YYYY-MM-DD H:mm:ss') %>"  type="text" name="firsttime">
			</div>
			<div class="field">
				<label>До</label>
				<input placeholder="<%= moment().format('YYYY-MM-DD H:mm:ss') %>" value="<%= (req.query.secondtime) ? req.query.secondtime : moment().format('YYYY-MM-DD H:mm:ss') %>"  type="text" name="secondtime">
			</div>
			<div class="field">
				<label>Блок</label>
				<div class="ui fluid selection dropdown gc-formdropdown">
					<div class="text">Выбери</div>
					<i class="dropdown icon"></i>
					<input name="block" id="gc-formsecondblockinput" type="hidden" value="<%= (req.query.block) ? req.query.block : '' %>">
					<div class="menu">
						<div class="item" data-value="10">Лава</div>
						<div class="item" data-value="8">Вода</div>
						<div class="item" data-value="51">Огонь</div>
						<div class="item" data-value="63">Табличка</div>
						<div class="item" data-value="19">Губка</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui blue submit button" id="gc-formsecondsubmit">Submit</div>
	</div>
	</form>
	<div class="ui divider"></div>
	<% if (log && log.length) { %>
	<% if (log.length >= 15) { %>
	<%- partial('../partials/pagination', {currentPage: currentPage, lastPage: lastPage, url: url}) %>
	<% } %>
	<div class="ui two column grid">
		<div class="column">
			<table class="ui basic small table">
				<thead>
					<tr>
						<th>Игрок</th>
						<th>Время</th>
						<th>Координата</th>
					</tr>
				</thead>
				<tbody>
					<% log.forEach(function (element) { %>
					<tr>
						<td><a href='/gameinfo/player/info?nickname=<%= element.user %>'><%= element.user %></a></td>
						<td><%= moment(element.time).format('D MMM YYYY, h:mm') %></td>
						<td><%= Math.floor(element.x) %> <%= Math.floor(element.y) %> <%= Math.floor(element.z) %></td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
	<div style="margin-top: 3em !important;">
		<%- partial('../partials/pagination', {currentPage: currentPage, lastPage: lastPage, url: url}) %>
	</div>
	<% } else if (log && log.code === 'wrongxyz') { %>
	<div style="padding: 5em 0em;text-align: center;font-size:1.4em">Неверный формат координат</div>
	<% } else if (log && log.code === 'wrongblock') { %>
	<div style="padding: 5em 0em;text-align: center;font-size:1.4em">Выбран (или вообще не выбран) неправильный блок</div>
	<% } else if (log && !log.length) { %>
	<div style="padding: 5em 0em;text-align: center;font-size:1.4em">Ничего не найдено</div>
	<% } else { %>
	<div style="padding: 5em 0em;text-align: center;font-size:1.4em">Введите координаты</div>
	<% } %>
</div>
