<% title = 'Логи внутриигровой валюты / Панель игровой информации' + " — " + __('global.pagetitle'),
	backUrl = '/gameinfo',
	url = '?sender=' + req.query.sender + '&senderType=' + req.query.senderType + '&firsttime=' + req.query.firsttime + '&secondtime=' + req.query.secondtime + '&block=' + req.query.block + '';  %>
<%- partial('../partials/header')%>


<%- partial('../partials/subheader', { header: 'Мир', subheader: 'Логи внутриигровой валюты ' }) %>
<div class="container" style="margin-top: 20px">
	<form method="GET">
	<div class="ui small form">
		<div class="two fields">
			<div class="field">
				<label>Отправитель</label>
				<div class="ui fluid input">
					<input placeholder="ChangedNick / o:1337 (для организаций)" type="text" name="sender" value="<%= (req.query.sender) ? req.query.sender : '' %>">
				</div>
			</div>
		</div>
		<div class="ui divider"></div>
		<div class="two fields">
			<div class="field">
				<label>От</label>
				<input placeholder="<%= moment().subtract(3, 'days').format('YYYY-MM-DD h:mm:ss') %>" value="<%= (req.query.firsttime) ? req.query.firsttime : moment().subtract(3, 'days').format('YYYY-MM-DD h:mm:ss') %>"  type="text" name="firsttime">
			</div>
			<div class="field">
				<label>До</label>
				<input placeholder="<%= moment().format('YYYY-MM-DD h:mm:ss') %>" value="<%= (req.query.secondtime) ? req.query.secondtime : moment().format('YYYY-MM-DD h:mm:ss') %>"  type="text" name="secondtime">
			</div>
		</div>
		<div class="ui blue submit button" id="gc-formsubmit">Submit</div>
	</div>
	</form>
	<div class="ui divider"></div>
	<% if (log && log.length) { %>
	<% if (log.length >= 15) { %>
	<%- partial('../partials/pagination', {currentPage: currentPage, lastPage: lastPage, url: url}) %>
	<% } %>
	<table class="ui basic small table">
		<thead>
			<tr>
				<th>Время</th>
				<th>Отправитель</th>
				<th>Получатель</th>
				<th>Количество</th>
				<th>Тип</th>
				<th>Тип транзакции</th>
			</tr>
		</thead>
		<tbody>
			<% log.forEach(function (element) { %>
			<tr>
				<td><%= moment(element.time).format('YYYY-MM-DD h:mm:ss') %></td>
				<td><% if (element.senderType === 1) { %><a href="/gameinfo/player/info?nickname=<%= element.sender %>"><%= element.sender %></a><% } else { %><%= element.sender %><% } %></td>
				<td><% if (element.recieverType === 3) { %>&mdash;<% } else if (element.recieverType === 1) { %><a href="/gameinfo/player/info?nickname=<%= element.reciever %>"><%= element.reciever %></a><% } else { %><%= element.reciever %><% } %></td>
				<td><%= element.money %></td>
				<td><%= __('view.gameinfo.player.moneylog.moneytype.' + element.moneyType) %></td>
				<td><%- (element.data) ? element.data : __('view.gameinfo.player.moneylog.sendmoney') %></td>
			</tr>
			<% }) %>
		</tbody>
	</table>
	<div style="margin-top: 3em !important;">
		<%- partial('../partials/pagination', {currentPage: currentPage, lastPage: lastPage, url: url}) %>
	</div>
	<% } else if (log && log.code === 'wrongorg') { %>
	<div style="padding: 5em 0em;text-align: center;font-size:1.4em">Неправильный формат ввода</div>
	<% } else if (log && !log.length) { %>
	<div style="padding: 5em 0em;text-align: center;font-size:1.4em">Ничего не найдено</div>
	<% } else { %>
	<div style="padding: 5em 0em;text-align: center;font-size:1.4em">Введите ник игрока/номер организации</div>
	<% } %>
</div>
