<% title = __('view.list.header') + " — " + __('global.pagetitle'),
	url = '/tickets?sort=' + ((req.query.sort) ? req.query.sort : '') + '&type=' + ((req.query.type) ? req.query.type : '') + '&status=' + ((req.query.status) ? req.query.status : '') + '&visibility=' + ((req.query.visibility) ? req.query.visibility : '') +'&product=' + ((req.query.product) ? req.query.product : ''); %>
<%- partial('partials/header')%>
<%- partial('partials/subheader')%>
<div class="container" style="position:relative">
	<div class="ui grid">
		<div class="column l-leftcolumn">
			<div class="ui basic fluid dropdown simple button">
				<%- __('view.list.newticket') %> <i class="add icon"></i>
				<div class="menu">
					<a href="/new/bugreport" class="item"><i class="bug icon"></i><%- __('global.type.bugreport') %></a>
					<a href="/new/rempro" class="item"><i class="trash icon"></i><%- __('global.type.rempro') %></a>
					<a href="/new/ban" class="item"><i class="ban circle icon"></i><%- __('global.type.ban') %></a>
					<a href="/new/unban" class="item"><i class="circle blank icon"></i><%- __('global.type.unban') %></a>
				</div>
			</div>
			<% if (req.user && currentPage === 1) if (req.user.startPage === req.url) { %>
			<div class="ui basic fluid button" style="margin: 1rem 0em;">
				<%- __('view.list.yourstartpage') %>
			</div>
			<% } else { %>
			<div class="ui basic fluid button" id="l-setstartpage" style="margin: 1rem 0em;">
				<%- __('view.list.setstartpage') %>
			</div>
			<% } %>
			<input type="hidden" name="_csrf" id="_csrf" value="<%= _csrf %>" />
			<div class="ui divider"></div>
			<%- partial('partials/filter') %>
		</div>
		<div id="l-content" class="column l-rightcolumn" style="display: inline-block;margin-top: 2em;">
			<%- partial('partials/list', {moment: moment}) %>
			<div class="gc-center" style="margin-top: 3em !important;">
				<div class="ui pagination menu">
					<a href="<%- url %>&page=1" class="item <% if (currentPage === 1) { %>active<% } %>">
						1
					</a>
					<% if (lastPage >= 2) { %>
					<a href="<%- url %>&page=2" class="item <% if (currentPage === 2) { %>active<% } %>">
						2
					</a>
					<% } %>
					<% if (lastPage >= 3) { %>
					<a href="<%- url %>&page=3" class="item <% if (currentPage === 3) { %>active<% } %>">
						3
					</a>
					<% } %>
					<% if (currentPage >= 3 || currentPage < lastPage - 2 || currentPage <= lastPage - 2) { %>
					<% if (currentPage - 1 !== 3 && (currentPage - 1 >= 3)) { %>
					<% if (!(currentPage - 2 === 3)) { %>
					<div class="disabled item">
						...
					</div>
					<% } %>
					<% if (!(currentPage - 1 >= lastPage - 2 )) { %>
					<a href="<%- url %>&page=<%= currentPage - 1 %>" class="item">
						<%= currentPage - 1 %>
					</a>
					<% } %>
					<% } %>
					<% if (!(currentPage >= lastPage - 2) && (currentPage > 3)) { %>
					<a href="<%- url %>&page=<%= currentPage %>" class="item active">
						<%= currentPage %>
					</a>
					<% } %>
					<% if (!(currentPage + 1 >= lastPage - 2)) { %>
					<% if (currentPage >= 3) { %>
					<a href="<%- url %>&page=<%= currentPage + 1 %>" class="item">
						<%= currentPage + 1 %>
					</a>
					<% } %>
					<% if (currentPage + 1 >= 2) { %>
					<div class="disabled item">
						...
					</div>
					<% } %>
					<% } %>
					<% } else if (lastPage > 4) { %>
					<div class="disabled item">
						...
					</div>
					<% } %>
					<% if (lastPage - 2 >= 5) { %>
					<a href="<%- url %>&page=<%= lastPage - 2 %>" class="item <% if (currentPage === lastPage - 2) { %>active<% } %>">
						<%= lastPage - 2 %>
					</a>
					<% } %>
					<% if (lastPage - 1 >= 5) { %>
					<a href="<%- url %>&page=<%= lastPage - 1 %>" class="item <% if (currentPage === lastPage - 1) { %>active<% } %>">
						<%= lastPage - 1 %>
					</a>
					<% } %>
					<% if (lastPage >= 5) { %>
					<a href="<%- url %>&page=<%= lastPage %>" class="item <% if (currentPage === lastPage) { %>active<% } %>">
						<%= lastPage %>
					</a>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</div>
