<form id="gc-filter-form">
				<div class="ui form" style="font-size: 0.9em;">
					<h3 class="ui header">
						<%- __('view.list.partials.filter.sort.title') %>
					</h3>
					<div class="inline field">
						<div class="ui radio checkbox">
							<input id="sort-bycreation" name="sort:number" value="1" type="radio" <%= (sort == 1 || !req.query.sort) ? 'checked' : '' %>>
							<label for="sort-bycreation"><%- __('view.list.partials.filter.sort.bycreation') %></label>
						</div>
					</div>
					<div class="inline field">
						<div class="ui radio checkbox">
							<input id="sort-byactivity" name="sort:number" value="2" type="radio" <%= (sort == 2) ? 'checked' : '' %>>
							<label for="sort-byactivity"><%- __('view.list.partials.filter.sort.byactivity') %></label>
						</div>
					</div>
					<h3 class="ui header">
						<%- __('view.list.partials.filter.type.title') %>
					</h3>
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-type-bugreport" name="type[1]:number" value="1" type="checkbox" <%= (type.indexOf(1) !== -1) ? 'checked' : '' %>>
							<label for="filter-type-bugreport"><%- __('global.type.bugreport') %></label>
						</div>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-type-rempro" name="type[2]:number" value="2" type="checkbox" <%= (type.indexOf(2) !== -1) ? 'checked' : '' %>>
							<label for="filter-type-rempro"><%- __('global.type.rempro') %></label>
						</div>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-type-ban" name="type[3]:number" value="3" type="checkbox" <%= (type.indexOf(3) !== -1) ? 'checked' : '' %>>
							<label for="filter-type-ban"><%- __('global.type.ban') %></label>
						</div>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-type-unban" name="type[4]:number" value="4" type="checkbox" <%= (type.indexOf(4) !== -1) ? 'checked' : '' %>>
							<label for="filter-type-unban"><%- __('global.type.unban') %></label>
						</div>
					</div>
					<h3 class="ui header"><%- __('view.list.partials.filter.status.title') %></h3>
					<div class="ui basic accordion">
						<div class="title">
							<i class="dropdown icon"></i>
							<label style="cursor:pointer;"><%- __('view.list.partials.filter.status.generaltitle') %></label>
						</div>
						<div class="content">
							<div class="inline field">
								<div class="ui checkbox">
									<input class="filter-status-new" name="status[1]:number" value="1" type="checkbox" <%= (status.indexOf(1) !== -1) ? 'checked' : '' %>>
									<label for="filter-status-new"><%- __('global.status.new') %></label>
								</div>
							</div>
							<div class="inline field">
								<div class="ui checkbox">
									<input class="filter-status-specify" name="status[3]:number" value="3" type="checkbox" <%= (status.indexOf(3) !== -1) ? 'checked' : '' %>>
									<label for="filter-status-specify"><%- __('global.status.specify') %></label>
								</div>
							</div>
							<div class="inline field">
								<div class="ui checkbox">
									<input class="filter-status-rejected" name="status[2]:number" value="2" type="checkbox" <%= (status.indexOf(2) !== -1) ? 'checked' : '' %>>
									<label for="filter-status-rejected"><%- __('global.status.rejected') %></label>
								</div>
							</div>
							<div class="inline field">
								<div class="ui checkbox">
									<input class="filter-status-declined" name="status[4]:number" value="4" type="checkbox" <%= (status.indexOf(4) !== -1) ? 'checked' : '' %>>
									<label for="filter-status-declined"><%- __('global.status.declined') %></label>
								</div>
							</div>
						</div>
					</div>
					<div class="ui basic accordion">
						<div class="title">
							<i class="dropdown icon"></i>
							<label style="cursor:pointer;"><%- __('view.list.partials.filter.status.bugreporttitle') %></label>
						</div>
						<div class="content">
							<div class="inline field">
								<div class="ui checkbox">
									<input class="filter-status-accepted" name="status[11]:number" value="11" type="checkbox" <%= (status.indexOf(11) !== -1) ? 'checked' : '' %>>
									<label for="filter-status-accepted"><%- __('global.status.accepted') %></label>
								</div>
							</div>
							<div class="inline field">
								<div class="ui checkbox">
									<input class="filter-status-fixed" name="status[12]:number" value="12" type="checkbox" <%= (status.indexOf(12) !== -1) ? 'checked' : '' %>>
									<label for="filter-status-fixed"><%- __('global.status.fixed') %></label>
								</div>
							</div>
						</div>
					</div>
					<div class="ui basic accordion">
						<div class="title">
							<i class="dropdown icon"></i>
							<label style="cursor:pointer;"><%- __('view.list.partials.filter.status.remprotitle') %></label>
						</div>
						<div class="content">
							<div class="inline field">
								<div class="ui checkbox">
									<input class="filter-status-inreview" name="status[8]:number" value="8" type="checkbox" <%= (status.indexOf(8) !== -1) ? 'checked' : '' %>>
									<label for="filter-status-inreview"><%- __('global.status.inreview') %></label>
								</div>
							</div>
							<div class="inline field">
								<div class="ui checkbox">
									<input class="filter-status-delayed" name="status[9]:number" value="9" type="checkbox" <%= (status.indexOf(9) !== -1) ? 'checked' : '' %>>
									<label for="filter-status-delayed"><%- __('global.status.delayed') %></label>
								</div>
							</div>
							<div class="inline field">
								<div class="ui checkbox">
									<input class="filter-status-done" name="status[10]:number" value="10" type="checkbox" <%= (status.indexOf(10) !== -1) ? 'checked' : '' %>>
									<label for="filter-status-done"><%- __('global.status.done') %></label>
								</div>
							</div>
						</div>
					</div>
					<div class="ui basic accordion">
						<div class="title">
							<i class="dropdown icon"></i>
							<label style="cursor:pointer;"><%- __('view.list.partials.filter.status.banunbantitle') %></label>
						</div>
						<div class="content">
							<div class="inline field">
								<div class="ui checkbox">
									<input class="filter-status-done" name="status[10]:number" value="10" type="checkbox" <%= (status.indexOf(10) !== -1) ? 'checked' : '' %>>
									<label for="filter-status-done"><%- __('global.status.done') %></label>
								</div>
							</div>
						</div>
					</div>
					<% if (req.user && req.user.group >= ugroup.helper) { %>
					<div class="ui basic accordion">
						<div class="title">
							<i class="dropdown icon"></i>
							<label style="cursor:pointer;"><%- __('view.list.partials.filter.status.hiddentitle') %></label>
						</div>
						<div class="content">
							<div class="inline field">
								<div class="ui checkbox">
									<input class="filter-status-hidden" name="status[5]:number" value="5" type="checkbox" <%= (status.indexOf(5) !== -1) ? 'checked' : '' %>>
									<label for="filter-status-hidden"><%- __('global.status.hidden') %></label>
								</div>
							</div>
							<div class="inline field">
								<div class="ui checkbox">
									<input class="filter-status-removed" name="status[6]:number" value="6" type="checkbox" <%= (status.indexOf(6) !== -1) ? 'checked' : '' %>>
									<label for="filter-status-removed"><%- __('global.status.removed') %></label>
								</div>
							</div>
						</div>
					</div>
					<% } %>
					<h3 class="ui header"><%- __('view.list.partials.filter.visibility.title') %></h3>
					<div class="grouped inline fields">
						<div class="field">
							<div class="ui radio checkbox">
								<input class="filter-visibility-all" name="visibility:number" value="3" type="radio" <%= (visibility === 3 || !req.query.visibility) ? 'checked' : '' %>>
								<label for="filter-visibility-all"><%- __('view.list.partials.filter.visibility.any') %></label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input class="filter-visibility-public" name="visibility:number" value="1" type="radio" <%= (visibility === 1) ? 'checked' : '' %>>
								<label for="filter-visibility-public"><%- __('global.visibility.public') %></label>
							</div>
						</div>
						<div class="field">
							<div class="ui radio checkbox">
								<input class="filter-visibility-private" name="visibility:number" value="2" type="radio" <%= (visibility === 2) ? 'checked' : '' %>>
								<label for="filter-visibility-private"><%- __('global.visibility.private') %></label>
							</div>
						</div>
					</div>
					<h3 class="ui header">
						<%- __('view.list.partials.filter.product.title') %>
						<div class="sub header"><%- __('view.list.partials.filter.product.subtitle') %></div>
					</h3>
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-product-unknown" name="product[1]" value="1" type="checkbox" <%= (product.indexOf(1) !== -1) ? 'checked' : '' %>>
							<label for="filter-product-unknown"><%- __('view.list.partials.filter.product.unknown') %></label>
						</div>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-product-main" name="product[2]" value="2" type="checkbox" <%= (product.indexOf(2) !== -1) ? 'checked' : '' %>>
							<label for="filter-product-main"><%- __('view.list.partials.filter.product.main') %></label>
						</div>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input class="filter-product-websites" name="product[5]" value="5" type="checkbox" <%= (product.indexOf(5) !== -1) ? 'checked' : '' %>>
							<label for="filter-product-websites"><%- __('view.list.partials.filter.product.webservices') %></label>
						</div>
					</div>
					<div class="ui divider"></div>
					<div class="ui basic big buttons">
						<div class="ui button" id="gc-filter-submit"><%- __('view.list.partials.filter.show') %></div>
						<div class="ui icon button" id="gc-filter-reset" title="<%= __('view.list.partials.filter.resetform') %>"><i class="remove icon"></i></div>
					</div>
				</div>
			</form>
