<% if (comments.length) { %>
	<% comments.forEach(function (comment) { %>
	<div class="comment">
		<div class="content">
			<a class="author"><%= (comment.author.prefix) ? comment.author.prefix : '' %><%= comment.author.username %></a>
			<div class="metadata">
				<a class="date" href="#<%= comment.id %>" title="<%= comment.createdAt.pretty %>"><%= comment.createdAt.fromNow %></a>
				<% if (comment.author.id === req.user.id) { %>
				<a class="nostyle link" href="#" style="margin-right: 0"><i class="write small icon"></i></a>
				<% } %>
				<% if ((comment.author.id === req.user.id) || (req.user.group >= ugroup.moderator)) { %>
				<a class="nostyle link" href="#"><i class="remove small icon"></i></a>
				<% } %>
			</div>
			<div class="text">
				<%- comment.message %>
				<% if (comment.changedTo) { %>
				<div class="ui small divider"></div>
				Статус изменён на <a class="gc status <%= comment.changedTo.name %> link" href="#"><%= comment.changedTo.name %></a>
				<% } %>
			</div>
		</div>
	</div>
	<% }) %>
<% } else { %>
	<div class="gc nocomments">
		<title>Тут никто ещё ничего не писал :(</title>
	</div>
<% } %>
